openapi: 3.2.0
info:
  title: Getty Images Affiliates API
  version: '3'
  description: '

    Developer resources for the Getty Images API including SDK, documentation,

    release notes, status, notifications and sample code.'
servers:
- url: https://api.gettyimages.com
  description: Base URL declared by the provider in apis.yml (roadmap#122).
security:
- Api-Key: []
- OAuth2: []
tags:
- name: Affiliates
paths:
  /v3/affiliates/search/images:
    get:
      tags:
      - Affiliates
      summary: ''
      parameters:
      - name: Accept-Language
        in: header
        description: 'Provide a header to specify the language of result values. Supported values: cs (iStock only), de, en-GB, en-US, es, fi (iStock only), fr, hu (iStock only), id (iStock only), it, ja, ko (creative assets only), nl, pl (creative assets only), pt-BR, pt-PT, ro (iStock only), ru (creative assets only), sv, th (iStock only), tr, uk (iStock only), vi (iStock only), zh-HK (creative assets only).'
        schema:
          type: string
          description: 'Provide a header to specify the language of result values. Supported values: cs (iStock only), de, en-GB, en-US, es, fi (iStock only), fr, hu (iStock only), id (iStock only), it, ja, ko (creative assets only), nl, pl (creative assets only), pt-BR, pt-PT, ro (iStock only), ru (creative assets only), sv, th (iStock only), tr, uk (iStock only), vi (iStock only), zh-HK (creative assets only).'
      - name: GI-Country-Code
        in: header
        description: Receive regionally relevant search results based on the value specified. Accepts only ISO Alpha-3 country codes. The Countries operation can be used to retrieve the codes.
        schema:
          type: string
          description: Use of this parameter requires configuration changes to your API key. Please contact your sales representative to learn more.
      - name: phrase
        in: query
        description: Search images using a search phrase.
        schema:
          type:
          - string
          - 'null'
          description: Search images using a search phrase.
      - name: style
        in: query
        description: Filter based on graphical style of the image.
        schema:
          $ref: '#/components/schemas/AffiliateSearchStyle'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateImageSearchResponse'
  /v3/affiliates/search/videos:
    get:
      tags:
      - Affiliates
      parameters:
      - name: Accept-Language
        in: header
        description: 'Provide a header to specify the language of result values. Supported values: cs (iStock only), de, en-GB, en-US, es, fi (iStock only), fr, hu (iStock only), id (iStock only), it, ja, ko (creative assets only), nl, pl (creative assets only), pt-BR, pt-PT, ro (iStock only), ru (creative assets only), sv, th (iStock only), tr, uk (iStock only), vi (iStock only), zh-HK (creative assets only).'
        schema:
          type: string
          description: 'Provide a header to specify the language of result values. Supported values: cs (iStock only), de, en-GB, en-US, es, fi (iStock only), fr, hu (iStock only), id (iStock only), it, ja, ko (creative assets only), nl, pl (creative assets only), pt-BR, pt-PT, ro (iStock only), ru (creative assets only), sv, th (iStock only), tr, uk (iStock only), vi (iStock only), zh-HK (creative assets only).'
      - name: GI-Country-Code
        in: header
        description: Receive regionally relevant search results based on the value specified. Accepts only ISO Alpha-3 country codes. The Countries operation can be used to retrieve the codes.
        schema:
          type: string
          description: Use of this parameter requires configuration changes to your API key. Please contact your sales representative to learn more.
      - name: phrase
        in: query
        schema:
          type:
          - string
          - 'null'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateVideoSearchResponse'
components:
  schemas:
    AffiliateVideoSearchResponse:
      type: object
      properties:
        videos:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AffiliateVideo'
        auto_corrections:
          $ref: '#/components/schemas/AutoCorrections'
      additionalProperties: false
    AffiliateVideoUrls:
      type: object
      properties:
        small_still:
          type:
          - string
          - 'null'
        medium_still:
          type:
          - string
          - 'null'
        large_still:
          type:
          - string
          - 'null'
        small_motion:
          type:
          - string
          - 'null'
        large_motion:
          type:
          - string
          - 'null'
      additionalProperties: false
    AffiliateVideo:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        caption:
          type:
          - string
          - 'null'
        preview_urls:
          $ref: '#/components/schemas/AffiliateVideoUrls'
        destination_url:
          type:
          - string
          - 'null'
        clip_length:
          type:
          - string
          - 'null'
      additionalProperties: false
    AffiliateImage:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        caption:
          type:
          - string
          - 'null'
        preview_urls:
          $ref: '#/components/schemas/AffiliateImageUrls'
        destination_url:
          type:
          - string
          - 'null'
      additionalProperties: false
    AffiliateSearchStyle:
      enum:
      - photography
      - vector
      type: string
      description: Specifies the graphical style of images desired.
    AffiliateImageSearchResponse:
      type: object
      properties:
        images:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AffiliateImage'
        auto_corrections:
          $ref: '#/components/schemas/AutoCorrections'
      additionalProperties: false
    AffiliateImageUrls:
      type: object
      properties:
        small:
          type:
          - string
          - 'null'
        small_height:
          type: integer
          format: int32
        small_width:
          type: integer
          format: int32
        medium:
          type:
          - string
          - 'null'
        medium_height:
          type: integer
          format: int32
        medium_width:
          type: integer
          format: int32
        large:
          type:
          - string
          - 'null'
        large_height:
          type: integer
          format: int32
        large_width:
          type: integer
          format: int32
      additionalProperties: false
    AutoCorrections:
      type: object
      properties:
        phrase:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Api-Key:
      type: apiKey
      name: Api-Key
      in: header
    OAuth2:
      type: oauth2
      flows:
        password:
          tokenUrl: https://api.gettyimages.com/v4/oauth2/token
          refreshUrl: https://api.gettyimages.com/v4/oauth2/token
          scopes: {}
        clientCredentials:
          tokenUrl: https://api.gettyimages.com/v4/oauth2/token
          scopes: {}
        authorizationCode:
          authorizationUrl: https://api.gettyimages.com/v4/oauth2/auth
          tokenUrl: https://api.gettyimages.com/v4/oauth2/token
          refreshUrl: https://api.gettyimages.com/v4/oauth2/token
          scopes: {}
