openapi: 3.2.0
info:
  title: Getty Images API
  version: '3'
  description: '

    Developer resources for the Getty Images API including SDK, documentation,

    release notes, status, notifications and sample code.'
servers:
- url: https://api.gettyimages.com
  description: Base URL declared by the provider in apis.yml (roadmap#122).
security:
- Api-Key: []
- OAuth2: []
tags:
- name: Images
paths:
  /v3/affiliates/search/images:
    get:
      tags:
      - Images
      summary: ''
      parameters:
      - name: Accept-Language
        in: header
        description: 'Provide a header to specify the language of result values. Supported values: cs (iStock only), de, en-GB, en-US, es, fi (iStock only), fr, hu (iStock only), id (iStock only), it, ja, ko (creative assets only), nl, pl (creative assets only), pt-BR, pt-PT, ro (iStock only), ru (creative assets only), sv, th (iStock only), tr, uk (iStock only), vi (iStock only), zh-HK (creative assets only).'
        schema:
          type: string
          description: 'Provide a header to specify the language of result values. Supported values: cs (iStock only), de, en-GB, en-US, es, fi (iStock only), fr, hu (iStock only), id (iStock only), it, ja, ko (creative assets only), nl, pl (creative assets only), pt-BR, pt-PT, ro (iStock only), ru (creative assets only), sv, th (iStock only), tr, uk (iStock only), vi (iStock only), zh-HK (creative assets only).'
      - name: GI-Country-Code
        in: header
        description: Receive regionally relevant search results based on the value specified. Accepts only ISO Alpha-3 country codes. The Countries operation can be used to retrieve the codes.
        schema:
          type: string
          description: Use of this parameter requires configuration changes to your API key. Please contact your sales representative to learn more.
      - name: phrase
        in: query
        description: Search images using a search phrase.
        schema:
          type:
          - string
          - 'null'
          description: Search images using a search phrase.
      - name: style
        in: query
        description: Filter based on graphical style of the image.
        schema:
          $ref: '#/components/schemas/AffiliateSearchStyle'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateImageSearchResponse'
  /v3/ai/image-generations/{generationRequestId}/images/{index}/variations:
    post:
      tags:
      - Images
      summary: Get variations on a generated image
      description: '# AI Generator - Generate Variations


        Generate image variations from a previously-generated image.


        ## The Image Variation Request


        The `ImageVariationRequest` payload to be posted contains the optional

        parameters:


        | Parameter           | Purpose                                                                                                                                                                                      |

        |---------------------|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|

        | `product_id`        | If you have multiple AI Generation Getty Images products, indicate which one you would like to use for this generation request.  If you have multiple products, this property is _required_. Can be retrieved from products (`GET /v3/products`). |

        | `notes`             | This is an optional free text parameter often used by clients who wish to include notes specific to their integration. This is for use by Getty Images customers only (not iStock). The products endpoint (`GET /v3/products`) provides this information.                                                                                                                                       |

        | `project_code`      | If your Getty Images Generative AI product requires project_codes, use of this parameter is required. If your product does not require a project_code, this parameter must be excluded from the request. This is for use by Getty Images customers only (not iStock). The products endpoint (`GET /v3/products`) provides this information.                                                                                                                  |


        ## Fulfilled and Pending Results


        In many cases the result of this call will be the final fulfilled result. In these cases, you will see a `HTTP 200 OK`

        result and a payload including URLs to the result images and a generation request `id` value.


        However some generations may take more time than can be accommodated in the initial call. In these cases the result of

        this call is `HTTP 202 Accepted` and the payload will only contain a generation request `id` value. This value must be

        retained by the client for subsequent polling of the `GET v3/ai/image-generations/{generationRequestId}` Get Images Generation endpoint.


        ## Lifetime of Generated Images


        Generated images will be retained for 6 months after generation.

        '
      parameters:
      - name: generationRequestId
        in: path
        description: The ID from a previous request to generate images
        required: true
        style: simple
        schema:
          type: string
      - name: index
        in: path
        description: The index of the image from the specific images generation
        required: true
        style: simple
        schema:
          type: integer
          format: int32
      requestBody:
        description: Request parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageVariationRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageVariationRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ImageVariationRequest'
      responses:
        '200':
          description: Returns the result of a request to generate a variation of images
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageGenerationsResponse'
        '202':
          description: Returns the request ID for a pending request to generate a variation of images
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PendingImageGenerationResponse'
        '400':
          description: InvalidProduct
        '403':
          description: Product quota exceeded
        '404':
          description: Either the generation id does not exist, the index is incorrect, or the generation is still pending
        '429':
          description: TooManyConcurrentGenerations
  /v3/ai/image-generations/{generationRequestId}/images/{index}/download-sizes:
    get:
      tags:
      - Images
      summary: Get download sizes for a generated image
      description: '# AI Generator - Get Download Sizes


        Given a fulfilled generation request `id` and the `index` of a generated image, gets a list of download sizes for the image.

        '
      parameters:
      - name: generationRequestId
        in: path
        description: The ID from a previous request to generate images
        required: true
        style: simple
        schema:
          type: string
      - name: index
        in: path
        description: The index of the image from the specific images generation
        required: true
        style: simple
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Returns the result of a request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadSizesResponse'
        '400':
          description: InvalidProduct
        '404':
          description: Either the generation id does not exist, the index is incorrect, or the generation is still pending
        '410':
          description: GenerationRequestGone
  /v3/ai/image-generations/{generationRequestId}/images/{index}/download:
    put:
      tags:
      - Images
      summary: Begin the download process
      description: '# AI Generator - Download Image


        Download a generated image. Initiating the download process for a 4K file may incur a cost depending on the terms of your agreement.


        ## Download Image Request body details


        The `ImageDownloadRequest` payload to be posted contains the required `size` as well as some other optional

        parameters:


        | Parameter         | Purpose                                                                                      |

        |-------------------|----------------------------------------------------------------------------------------------|

        | `size_name` _Required_ | Must be one of the valid download sizes retrieved through the "Get Download Sizes" endpoint |

        | `notes`             | This is an optional free text parameter often used by clients who wish to include notes specific to their integration. This is for use by Getty Images customers only (not iStock). The products endpoint (`GET /v3/products`) provides this information.                                                                                                                                       |

        | `project_code`      | If your Getty Images Generative AI product requires project_codes, use of this parameter is required. If your product does not require a project_code, this parameter must be excluded from the request. This is for use by Getty Images customers only (not iStock). The products endpoint (`GET /v3/products`) provides this information.                                                                                                                  |


        ## Fulfilled and Pending Results


        In many cases the result of this call will be the final fulfilled result. In these cases, you will see a `HTTP 200 OK`

        result and a payload including a URL for the download.


        However some generations may take more time than can be accommodated in the initial call. In these cases the result of

        this call is `HTTP 202 Accepted` with no payload. This client should then

        poll `GET v3/ai/image-generations/{generationRequestId}/images/{index}/download` periodically to get the final

        download.

        '
      parameters:
      - name: generationRequestId
        in: path
        description: The ID from a previous request to generate images
        required: true
        style: simple
        schema:
          type: string
      - name: index
        in: path
        description: The index of the image from the specific images generation
        required: true
        style: simple
        schema:
          type: integer
          format: int32
      requestBody:
        description: Request parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageDownloadRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageDownloadRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ImageDownloadRequest'
      responses:
        '200':
          description: Download request was successful and is complete
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/DownloadResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/DownloadResponse'
        '202':
          description: Download request was successful put is pending
        '400':
          description: InvalidProduct
        '403':
          description: ProductQuotaExceeded
        '404':
          description: GenerationRequestIdNotFound
        '409':
          description: A download is already in progress for the given `generationRequestId` and `index`.
        '410':
          description: GenerationRequestGone
    get:
      tags:
      - Images
      summary: 'Once the download process has started, this endpoint can be used to check the status of the download and get the

        download URL once it is completed.'
      description: '# AI Generator - Get Download Image


        Get the download for a generated image


        ## Fulfilled and Pending Results


        In many cases the result of this call will be the final fulfilled result. In these cases, you will see a `HTTP 200 OK`

        result and a payload including a URL for the download.


        However some generations may take more time than can be accommodated in the initial call. In these cases the result of

        this call is `HTTP 202 Accepted` with no payload. This client should then

        poll `GET v3/ai/image-generations/{generationRequestId}/images/{index}/download` periodically to get the final

        download.


        Like the `PUT v3/ai/image-generations/{generationRequestId}/images/{index}/download` endpoint, the result of calling

        this endpoint will be either:


        - `HTTP 200 OK` with the download URL

        - `HTTP 202 Accepted` with no payload


        `HTTP 202 Accepted` is returned in the case where the download preparation has not yet completed. In this case it is

        expected that the client will occasionally poll this endpoint until a `HTTP 200 OK` result with a full payload is

        returned.

        '
      parameters:
      - name: generationRequestId
        in: path
        description: The ID from a previous request to generate images
        required: true
        style: simple
        schema:
          type: string
      - name: index
        in: path
        description: The index of the image from the specific images generation
        required: true
        style: simple
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Download request was successful and is complete
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/DownloadResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/DownloadResponse'
        '202':
          description: Download request was successful put is pending
        '400':
          description: InvalidProduct
        '404':
          description: GenerationRequestIdNotFound
        '410':
          description: GenerationRequestGone
  /v3/artists/images:
    get:
      tags:
      - Images
      summary: Search for images by a photographer
      parameters:
      - name: Accept-Language
        in: header
        description: 'Provide a header to specify the language of result values. Supported values: cs (iStock only), de, en-GB, en-US, es, fi (iStock only), fr, hu (iStock only), id (iStock only), it, ja, ko (creative assets only), nl, pl (creative assets only), pt-BR, pt-PT, ro (iStock only), ru (creative assets only), sv, th (iStock only), tr, uk (iStock only), vi (iStock only), zh-HK (creative assets only).'
        schema:
          type: string
          description: 'Provide a header to specify the language of result values. Supported values: cs (iStock only), de, en-GB, en-US, es, fi (iStock only), fr, hu (iStock only), id (iStock only), it, ja, ko (creative assets only), nl, pl (creative assets only), pt-BR, pt-PT, ro (iStock only), ru (creative assets only), sv, th (iStock only), tr, uk (iStock only), vi (iStock only), zh-HK (creative assets only).'
      - name: artist_name
        in: query
        description: Name of artist for desired images
        schema:
          type:
          - string
          - 'null'
          description: Name of artist for desired images
      - name: fields
        in: query
        description: Comma separated list of fields. Allows restricting which fields are returned. If no fields are selected, the summary_set of fields are returned.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ArtistsImageSearchFieldValues'
          description: Comma separated list of fields. Allows restricting which fields are returned. If no fields are selected, the summary_set of fields are returned.
      - name: page
        in: query
        description: Identifies page to return. Default page is 1.
        schema:
          type: integer
          description: Identifies page to return. Default page is 1.
          format: int32
          default: 1
      - name: page_size
        in: query
        description: Specifies page size. Default page_size is 10, maximum page_size is 100.
        schema:
          type: integer
          description: Specifies page size. Default page_size is 10, maximum page_size is 100.
          format: int32
          default: 10
      responses:
        '200':
          description: OK
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
  /v3/downloads/images/{id}:
    post:
      tags:
      - Images
      summary: Download an image
      description: "Use this endpoint to generate download URLs and related data for images you are authorized to download.\n\nMost product offerings have enforced periodic download limits such as monthly, weekly, and daily. When this operation executes, the count of allowed downloads is decremented by one for the product offering. Once the download limit is reached for a given product offering, no further downloads may be requested for that product offering until the next download period.\n\nThe download limit for a given download period is covered in your product agreement established with Getty Images.\n\nYou'll need an API key and a [Resource Owner Grant or Implicit Grant](http://developers.gettyimages.com/en/authorization-faq.html) access token to use this resource.\n\n## Auto Downloads\nThe `auto_download` request query parameter specifies whether to automatically download the image.\n\nIf the `auto_download` request query parameter is set to _true_, the API will return an HTTP status code 303 *See Other*.Your client code will need to process this response and redirect to the URI specified in the *Location* header to enable you to automatically download the file. The redirection workflow follows the [HTTP 1.1 protocol](https://tools.ietf.org/html/rfc7231#section-6.4.4).\n\nClient Request:\n\n```\nhttps://api.gettyimages.com/v3/downloads/images/[asset_id]?auto_download=true\n```\n\nServer Response:\n\nYour client code should follow redirect (3xx) status codes returned from the URI in the response Location header. More information here: [HTTP 1.1 protocol](https://tools.ietf.org/html/rfc7231#section-6.4).\n\n```\nHTTP/1.1 303 See Other\nLocation: https://delivery.gettyimages.com/...\n```\n\nIf the `auto_download` request query parameter is set to false, the API will return a HTTP status code 200, along with the URI in the response body which can be used to download the image. \n\nClient Request:\n\n```\nhttps://api.gettyimages.com/v3/downloads/images/[asset_id]?auto_download=false\n```\n\nServer Response:\n\n```\nHTTP/1.1 200 OK\n{\n\t\"uri\": \"https://delivery.gettyimages.com/...\"\n}\n```\n## Downloading Via the Returned URI\n\nYour client code should follow redirect (3xx) status codes returned from the URI in the response. More information here: [HTTP 1.1 protocol](https://tools.ietf.org/html/rfc7231#section-6.4).\n\nThe URI returned by this call should be considered opaque and the format could change at any time.\nIn order to get the filename, length or file type, the response headers must be inspected. An example\nresponse follows:\n\n```\ncontent-length: 33959979\ncontent-type: image/jpeg\ncontent-disposition: attachment; filename=GettyImages-1167612765.jpg\n```\n\nThe `content-disposition` header must be parsed to get a usable filename.\n\n## Download URI expiration\n\nDownload URIs are _**only valid for 24 hours**_, starting from the moment they are returned from this call.\n"
      parameters:
      - name: Accept-Language
        in: header
        description: 'Provide a header to specify the language of result values. Supported values: cs (iStock only), de, en-GB, en-US, es, fi (iStock only), fr, hu (iStock only), id (iStock only), it, ja, ko (creative assets only), nl, pl (creative assets only), pt-BR, pt-PT, ro (iStock only), ru (creative assets only), sv, th (iStock only), tr, uk (iStock only), vi (iStock only), zh-HK (creative assets only).'
        schema:
          type: string
          description: 'Provide a header to specify the language of result values. Supported values: cs (iStock only), de, en-GB, en-US, es, fi (iStock only), fr, hu (iStock only), id (iStock only), it, ja, ko (creative assets only), nl, pl (creative assets only), pt-BR, pt-PT, ro (iStock only), ru (creative assets only), sv, th (iStock only), tr, uk (iStock only), vi (iStock only), zh-HK (creative assets only).'
      - name: id
        in: path
        description: "<remarks>\n                    Id of image to download.\n                </remarks>"
        required: true
        schema:
          type:
          - string
          - 'null'
          description: "<remarks>\n                    Id of image to download.\n                </remarks>"
      - name: auto_download
        in: query
        description: "<remarks>\n                    Specifies whether to auto-download the image. If true is specified, a 303 SeeOther status is returned with a\n                    Location header set to the location of the image.\n                    If false is specified, the download URI will be returned in the response message. Default is true.\n                </remarks>"
        schema:
          type: boolean
          description: "<remarks>\n                    Specifies whether to auto-download the image. If true is specified, a 303 SeeOther status is returned with a\n                    Location header set to the location of the image.\n                    If false is specified, the download URI will be returned in the response message. Default is true.\n                </remarks>"
          default: true
      - name: file_type
        in: query
        description: "<remarks>\n                    File Type expressed with three character file extension.\n                </remarks>"
        schema:
          $ref: '#/components/schemas/DownloadFileType'
      - name: height
        in: query
        description: "<remarks>\n                    Specifies the pixel height of the particular image to download.\n                    Available heights can be found in the images/{ids} response for the specific image.\n                    If left blank, it will return the largest available size.\n                </remarks>"
        schema:
          type:
          - string
          - 'null'
          description: "<remarks>\n                    Specifies the pixel height of the particular image to download.\n                    Available heights can be found in the images/{ids} response for the specific image.\n                    If left blank, it will return the largest available size.\n                </remarks>"
      - name: product_id
        in: query
        description: "<remarks>\n                    Identifier of the instance for the selected product offering type.\n                </remarks>"
        schema:
          type:
          - integer
          - 'null'
          description: "<remarks>\n                    Identifier of the instance for the selected product offering type.\n                </remarks>"
          format: int32
      - name: product_type
        in: query
        description: "<remarks>\n                    Product types easyaccess, editorialsubscription, imagepack, and premiumaccess are for GettyImages API keys. Product types royaltyfreesubscription and creditpack are for iStock API keys. Default product type for iStock API keys is creditpack.\n                </remarks>"
        schema:
          $ref: '#/components/schemas/ProductTypeForDownloads'
      - name: use_team_credits
        in: query
        description: Specifies whether to download the image with iStock Team Credits. Only applicable to iStock API keys authenticated with a user that has Team Credits. Blank is the same as False.
        schema:
          type:
          - boolean
          - 'null'
          description: Specifies whether to download the image with iStock Team Credits. Only applicable to iStock API keys authenticated with a user that has Team Credits. Blank is the same as False.
          default: false
      requestBody:
        description: "<remarks>\n                    Additional information required from specific customers when downloading. \n                    Only users who have been set up with a project code by Getty Images Sales need to use this field.\n                </remarks>"
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PremiumAccessDownloadData'
      responses:
        '200':
          description: OK
        '303':
          description: See Other
        '400':
          description: MissingRequiredQueryParameters
        '401':
          description: AuthorizationTokenRequired
        '403':
          description: OverageLimitReached
        '404':
          description: ImageNotFound
  /v3/images:
    get:
      tags:
      - Images
      summary: Get metadata for multiple images by supplying multiple image ids
      description: "This endpoint returns the detailed image metadata for all specified images.\n\nYou'll need an API key and access token to use this resource.\n\n## Working with Fields Sets\n\nFields sets are used in the **fields** request parameter to receive a suite of metadata fields. The following fields sets are available:\n\n#### Summary Fields Set\n\nThe **summary_set** query string parameter fields value represents a small batch of metadata fields that are often used to build \nsearch response results. The following fields are provided for every image in your result set when you include **summary_set** in your request.\n\n```\n{\n    \"images\":\n    [\n        \"artist\",\n        \"asset_family\",\n        \"caption\",\n        \"collection_code\",\n        \"collection_id\",\n        \"collection_name\",\n        \"license_model\",\n        \"max_dimensions\",\n        \"title\"\n    ]\n}\n```\n\n#### Detail Fields Set\n\nThe **detail_set** query string parameter fields value represents a large batch of metadata fields that are often used to build a \ndetailed view of images. The following fields are provided for every image in your result set when you include **detail_set** in your request.\n\n```\n{\n    \"images\":\n    [\n        \"allowed_use\",\n        \"artist\", \n        \"artist_title\", \n        \"asset_family\",\n        \"call_for_image\",\n        \"caption\", \n        \"city\",\n        \"collection_code\",\n        \"collection_id\", \n        \"collection_name\",\n        \"color_type\", \n        \"copyright\", \n        \"country\", \n        \"credit_line\", \n        \"date_created\", \n        \"date_submitted\",\n        \"download_sizes\", \n        \"editorial_segments\",\n        \"event_ids\",\n        \"graphical_style\",\n        \"license_model\",\n        \"max_dimensions\",\n        \"orientation\",\n        \"product_types\",\n        \"quality_rank\",\n        \"referral_destinations\",\n        \"state_province\", \n        \"title\"\n    ]\n}\n```\n\n#### Display Fields Set\n\nThe **display_set** query string parameter fields value represents the fields that provide you with URLs for the low resolution\nfiles that are most frequently used to build a UI displaying search results. The following fields are provided for every image \nin your result set when you include **display_set** in your request.\n\nThe URI provided is subject to change at any time and must be used as-is with no modification.\n\n```\n{\n    \"images\":\n    [\n        \"display_sizes\": \n        [\n            {\n                \"is_watermarked\": <boolean>,\n                \"name\": \"comp\",\n                \"uri\": \"<link>\"\n            },\n            {\n                \"is_watermarked\": <boolean>,\n                \"name\": \"preview\",\n                \"uri\": \"<link>\"\n            },\n            {\n                \"is_watermarked\": <boolean>,\n                \"name\": \"thumb\",\n                \"uri\": \"<link>\"\n            }\n        ]\n    ]\n}\n```\n\n## Request Usage Considerations\n\n- Specifying the \"entity_details\" response field can have significant performance implications. The field should be used only when necessary.\n"
      parameters:
      - name: Accept-Language
        in: header
        description: 'Provide a header to specify the language of result values. Supported values: cs (iStock only), de, en-GB, en-US, es, fi (iStock only), fr, hu (iStock only), id (iStock only), it, ja, ko (creative assets only), nl, pl (creative assets only), pt-BR, pt-PT, ro (iStock only), ru (creative assets only), sv, th (iStock only), tr, uk (iStock only), vi (iStock only), zh-HK (creative assets only).'
        schema:
          type: string
          description: 'Provide a header to specify the language of result values. Supported values: cs (iStock only), de, en-GB, en-US, es, fi (iStock only), fr, hu (iStock only), id (iStock only), it, ja, ko (creative assets only), nl, pl (creative assets only), pt-BR, pt-PT, ro (iStock only), ru (creative assets only), sv, th (iStock only), tr, uk (iStock only), vi (iStock only), zh-HK (creative assets only).'
      - name: ids
        in: query
        description: Specifies one or more image ids to return. Use comma delimiter when requesting multiple ids.  Maximum of 100 ids.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            type: string
          description: Specifies one or more image ids to return. Use comma delimiter when requesting multiple ids.  Maximum of 100 ids.
      - name: fields
        in: query
        description: 'Specifies fields to return. Defaults to ''summary_set''. NOTE: Bytes, height, and width returned by ''download_sizes'' field are estimates.'
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ImageDetailFieldValues'
          description: 'Specifies fields to return. Defaults to ''summary_set''. NOTE: Bytes, height, and width returned by ''download_sizes'' field are estimates.'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesDetailResults'
        '400':
          description: InvalidParameterValue
        '401':
          description: AuthorizationTokenRequired
        '403':
          description: UnauthorizedDisplaySize
        '404':
          description: ImageNotFound
        '500':
          description: InvalidIStockCollection
  /v3/images/{id}:
    get:
      tags:
      - Images
      summary: Get metadata for a single image by supplying one image id
      description: "This endpoint returns the detailed image metadata for a specified image.\n\nYou'll need an API key and access token to use this resource. \n \n## Working with Fields Sets\n\nFields sets are used in the **fields** request parameter to receive a suite of metadata fields. The following fields sets are available:\n\n#### Summary Fields Set\n\nThe **summary_set** query string parameter fields value represents a small batch of metadata fields that\nare often used to build search response results. The following fields are provided for every image in your\nresult set when you include **summary_set** in your request.\n\n```\n{\n    \"images\":\n    [\n        \"artist\",\n        \"asset_family\",\n        \"caption\",\n        \"collection_code\",\n        \"collection_id\",\n        \"collection_name\",\n        \"license_model\",\n        \"max_dimensions\",\n        \"title\"\n    ]\n}\n```\n\n#### Detail Fields Set\n\nThe **detail_set** query string parameter fields value represents a large batch of metadata fields that are \noften used to build a detailed view of images. The following fields are provided for every image in your \nresult set when you include **detail_set** in your request.\n\n```\n{\n    \"images\":\n    [\n        \"allowed_use\",\n        \"artist\", \n        \"artist_title\", \n        \"asset_family\",\n        \"call_for_image\",\n        \"caption\", \n        \"city\",\n        \"collection_code\",\n        \"collection_id\", \n        \"collection_name\",\n        \"color_type\", \n        \"copyright\", \n        \"country\", \n        \"credit_line\", \n        \"date_created\", \n        \"date_submitted\",\n        \"download_sizes\", \n        \"editorial_segments\",\n        \"event_ids\",\n        \"graphical_style\",\n        \"license_model\",\n        \"max_dimensions\",\n        \"orientation\",\n        \"product_types\",\n        \"quality_rank\",\n        \"referral_destinations\",\n        \"state_province\", \n        \"title\"\n    ]\n}\n```\n\n#### Display Fields Set\n\nThe **display_set** query string parameter fields value represents the fields that provide you with URLs for the low\nresolution files that are most frequently used to build a UI displaying search results. The following fields are provided\nfor every image in your result set when you include **display_set** in your request.\n\nThe URI provided is subject to change at any time and must be used as-is with no modification.\n\n```\n{\n    \"images\":\n    [\n        \"display_sizes\": \n        [\n            {\n                \"is_watermarked\": <boolean>,\n                \"name\": \"comp\",\n                \"uri\": \"<link>\"\n            },\n            {\n                \"is_watermarked\": <boolean>,\n                \"name\": \"preview\",\n                \"uri\": \"<link>\"\n            },\n            {\n                \"is_watermarked\": <boolean>,\n                \"name\": \"thumb\",\n                \"uri\": \"<link>\"\n            }\n        ]\n    ]\n}\n```\n\n## Request Usage Considerations\n\n- Specifying the \"entity_details\" response field can have significant performance implications. The field should be used only when necessary.\n\n\n\n          \"name\": \"string\",\n          \"uri\": \"string\""
      parameters:
      - name: Accept-Language
        in: header
        description: 'Provide a header to specify the language of result values. Supported values: cs (iStock only), de, en-GB, en-US, es, fi (iStock only), fr, hu (iStock only), id (iStock only), it, ja, ko (creative assets only), nl, pl (creative assets only), pt-BR, pt-PT, ro (iStock only), ru (creative assets only), sv, th (iStock only), tr, uk (iStock only), vi (iStock only), zh-HK (creative assets only).'
        schema:
          type: string
          description: 'Provide a header to specify the language of result values. Supported values: cs (iStock only), de, en-GB, en-US, es, fi (iStock only), fr, hu (iStock only), id (iStock only), it, ja, ko (creative assets only), nl, pl (creative assets only), pt-BR, pt-PT, ro (iStock only), ru (creative assets only), sv, th (iStock only), tr, uk (iStock only), vi (iStock only), zh-HK (creative assets only).'
      - name: id
        in: path
        description: An image id. For more than one image please use the /v3/images endpoint.
        required: true
        schema:
          type:
          - string
          - 'null'
          description: An image id. For more than one image please use the /v3/images endpoint.
      - name: fields
        in: query
        description: 'Specifies fields to return. Defaults to ''summary_set''. NOTE: Bytes, height, and width returned by ''download_sizes'' field are estimates.'
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ImageDetailFieldValues'
          description: 'Specifies fields to return. Defaults to ''summary_set''. NOTE: Bytes, height, and width returned by ''download_sizes'' field are estimates.'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesDetailResults'
        '400':
          description: InvalidParameterValue
        '401':
          description: AuthorizationTokenRequired
        '403':
          description: UnauthorizedDisplaySize
        '404':
          description: ImageNotFound
        '500':
          description: InvalidIStockCollection
  /v3/images/{id}/downloadhistory:
    get:
      tags:
      - Images
      summary: Returns information about a customer's download history for a specific asset
      description: ''
      parameters:
      - name: Accept-Language
        in: header
        description: 'Provide a header to specify the language of result values. Supported values: cs (iStock only), de, en-GB, en-US, es, fi (iStock only), fr, hu (iStock only), id (iStock only), it, ja, ko (creative assets only), nl, pl (creative assets only), pt-BR, pt-PT, ro (iStock only), ru (creative assets only), sv, th (iStock only), tr, uk (iStock only), vi (iStock only), zh-HK (creative assets only).'
        schema:
          type: string
          description: 'Provide a header to specify the language of result values. Supported values: cs (iStock only), de, en-GB, en-US, es, fi (iStock only), fr, hu (iStock only), id (iStock only), it, ja, ko (creative assets only), nl, pl (creative assets only), pt-BR, pt-PT, ro (iStock only), ru (creative assets only), sv, th (iStock only), tr, uk (iStock only), vi (iStock only), zh-HK (creative assets only).'
      - name: id
        in: path
        description: An image id.
        required: true
        schema:
          type:
          - string
          - 'null'
          description: An image id.
      - name: company_downloads
        in: query
        description: "If specified, returns the list of previously downloaded images for all users in your company.\n            Your account must be enabled for this functionality. Contact your Getty Images account rep for more information. Default is false."
        schema:
          type: boolean
          description: "If specified, returns the list of previously downloaded images for all users in your company.\n            Your account must be enabled for this functionality. Contact your Getty Images account rep for more information. Default is false."
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetDownloadHistoryResults'
        '400':
          description: Bad request
        '401':
          description: AuthorizationTokenRequired
        '403':
          description: UnauthorizedDisplaySize
        '404':
          description: ImageNotFound
        '500':
          description: InvalidIStockCollection
  /v3/images/{id}/same-series:
    get:
      tags:
      - Images
      summary: Retrieve creative images from the same series
      description: "This endpoint will provide the list of images, if any exist, from the same series as the specified creative asset id. These images are typically from the same photo shoot. This functionality will not work for editorial assets.\n\nYou'll need an API key and access token to use this resource.\n\n## Working with Fields Sets\n\nFields sets are used in the **fields** request parameter to receive a suite of metadata fields. The following fields sets are available:\n\n#### Summary Fields Set\n\nThe **summary_set** query string parameter fields value represents a small batch of metadata fields that are often used to build\nsearch response results. The following fields are provided for every image in your result set when you include **summary_set** in your request.\n\n```\n{\n    \"images\":\n    [\n        \"asset_family\",\n        \"caption\",\n        \"collection_code\",\n        \"collection_id\",\n        \"collection_name\",\n        \"display_sizes\": \n        [\n            {\n                \"name\": \"thumb\"\n            }\n        ]\n        \"license_model\",\n        \"max_dimensions\",\n        \"title\"\n    ]\n}\n```\n\n#### Detail Fields Set\n\nThe **detail_set** query string parameter fields value represents a large batch of metadata fields that are often used to build a \ndetailed view of images. The following fields are provided for every image in your result set when you include **detail_set** in your request.\n\n```\n{\n    \"images\":\n    [\n        \"allowed_use\",\n        \"artist\",\n        \"asset_family\",\n        \"call_for_image\",\n        \"caption\",\n        \"collection_code\",\n        \"collection_id\",\n        \"collection_name\",\n        \"copyright\",\n        \"date_created\",\n        \"display_sizes\": \n        [\n            {\n                \"name\": \"comp\"\n            },\n            {\n                \"name\": \"preview\"\n            },\n            {\n                \"name\": \"thumb\"\n            }\n        ],\n        \"editorial_segments\",\n        \"event_ids\",\n        \"graphical_style\",\n        \"license_model\",\n        \"max_dimensions\",\n        \"orientation\",\n        \"product_types\",\n        \"quality_rank\",\n        \"referral_destinations\",\n        \"title\"\n    ]\n}\n```\n\n#### Display Fields Set\n\nThe **display_set** query string parameter fields value represents the fields that provide you with URLs for the low resolution files \nthat are most frequently used to build a UI displaying search results. The following fields are provided for every image in your result\nset when you include **display_set** in your request.\n\nThe URI provided is subject to change at any time and must be used as-is with no modification.\n\n```\n{\n    \"images\":\n    [\n        \"display_sizes\": \n        [\n            {\n                \"is_watermarked\": <boolean>,\n                \"name\": \"comp\",\n                \"uri\": \"<link>\"\n            },\n            {\n                \"is_watermarked\": <boolean>,\n                \"name\": \"preview\",\n                \"uri\": \"<link>\"\n            },\n            {\n                \"is_watermarked\": <boolean>,\n                \"name\": \"thumb\",\n                \"uri\": \"<link>\"\n            }\n        ]\n    ]\n}\n```\n"
      parameters:
      - name: Accept-Language
        in: header
        description: 'Provide a header to specify the language of result values. Supported values: cs (iStock only), de, en-GB, en-US, es, fi (iStock only), fr, hu (iStock only), id (iStock only), it, ja, ko (creative assets only), nl, pl (creative assets only), pt-BR, pt-PT, ro (iStock only), ru (creative assets only), sv, th (iStock only), tr, uk (iStock only), vi (iStock only), zh-HK (creative assets only).'
        schema:
          type: string
          description: 'Provide a header to specify the language of result values. Supported values: cs (iStock only), de, en-GB, en-US, es, fi (iStock only), fr, hu (iStock only), id (iStock only), it, ja, ko (creative assets only), nl, pl (creative assets only), pt-BR, pt-PT, ro (iStock only), ru (creative assets only), sv, th (iStock only), tr, uk (iStock only), vi (iStock only), zh-HK (creative assets only).'
      - name: id
        in: path
        description: Identifies an existing image
        required: true
        schema:
          type:
          - string
          - 'null'
          description: Identifies an existing image
      - name: fields
        in: query
        description: 'Specifies fields to return. Defaults to ''summary_set''. NOTE: Bytes, height, and width returned by ''download_sizes'' field are estimates.'
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ImagesFieldValues'
          description: 'Specifies fields to return. Defaults to ''summary_set''. NOTE: Bytes, height, and width returned by ''download_sizes'' field are estimates.'
      - name: page
        in: query
        description: Identifies page to return. Default is 1.
        schema:
          type: integer
          description: Identifies page to return. Default is 1.
          format: int32
          default: 1
      - name: page_size
        in: query
        description: Specifies page size. Default is 30, maximum page_size is 100.
        schema:
          type: integer
          description: Specifies page size. Default is 30, maximum page_size is 100.
          format: int32
          default: 30
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageSearchItemSearchResults'
        '400':
          description: InvalidParameterValue
        '401':
          description: AuthorizationTokenRequired
        '403':
          description: UnauthorizedDisplaySize
        '404':
          description: ImageNotFound
        '500':
          description: InvalidIStockCollection
  /v3/images/{id}/similar:
    get:
      tags:
      - Images
      summary: Retrieve similar images
      description: "This endpoint will provide a list of images that are similar to the specified asset id.\n\nYou'll need an API key and access token to use this resource.\n\n## Working with Fields Sets\n\nFields sets are used in the **fields** request parameter to receive a suite of metadata fields. The following fields sets are available:\n\n#### Summary Fields Set\n\nThe **summary_set** query string parameter fields value represents a small batch of metadata fields that are often used to build\nsearch response results. The following fields are provided for every image in your result set when you include **summary_set** in your request.\n\n```\n{\n    \"images\":\n    [\n        \"asset_family\",\n        \"caption\",\n        \"collection_code\",\n        \"collection_id\",\n        \"collection_name\",\n        \"display_sizes\": \n        [\n            {\n                \"name\": \"thumb\"\n            }\n        ]\n        \"license_model\",\n        \"max_dimensions\",\n        \"title\"\n    ]\n}\n```\n\n#### Detail Fields Set\n\nThe **detail_set** query string parameter fields value represents a large batch of metadata fields that are often used to build a \ndetailed view of images. The following fields are provided for every image in your result set when you include **detail_set** in your request.\n\n```\n{\n    \"images\":\n    [\n        \"allowed_use\",\n        \"artist\",\n        \"asset_family\",\n        \"call_for_image\",\n        \"caption\",\n        \"collection_code\",\n        \"collection_id\",\n        \"collection_name\",\n        \"copyright\",\n        \"date_created\",\n        \"display_sizes\": \n        [\n            {\n                \"name\": \"comp\"\n            },\n            {\n                \"name\": \"preview\"\n            },\n            {\n                \"name\": \"thumb\"\n            }\n        ],\n        \"editorial_segments\",\n        \"event_ids\",\n        \"graphical_style\",\n        \"license_model\",\n        \"max_dimensions\",\n        \"orientation\",\n        \"product_types\",\n        \"quality_rank\",\n        \"referral_destinations\",\n        \"title\"\n    ]\n}\n```\n\n#### Display Fields Set\n\nThe **display_set** query string parameter fields value represents the fields that provide you with URLs for the low resolution files \nthat are most frequently used to build a UI displaying search results. The following fields are provided for every image in your result\nset when you include **display_set** in your request.\n\n\nThe URI provided is subject to change at any time and must be used as-is with no modification.\n\n```\n{\n    \"images\":\n    [\n        \"display_sizes\": \n        [\n            {\n                \"is_watermarked\": <boolean>,\n                \"name\": \"comp\",\n                \"uri\": \"<link>\"\n            },\n            {\n                \"is_watermarked\": <boolean>,\n                \"name\": \"preview\",\n                \"uri\": \"<link>\"\n            },\n            {\n                \"is_watermarked\": <boolean>,\n                \"name\": \"thumb\",\n                \"uri\": \"<link>\"\n            }\n        ]\n    ]\n}\n```\n"
      parameters:
      - name: Accept-Language
        in: header
        description: 'Provide a header to specify the language of result values. Supported values: cs (iStock only), de, en-GB, en-US, es, fi (iStock only), fr, hu (iStock only), id (iStock only), it, ja, ko (creative assets only), nl, pl (creative assets only), pt-BR, pt-PT, ro (iStock only), ru (creative assets only), sv, th (iStock only), tr, uk (iStock only), vi (iStock only), zh-HK (creative assets only).'
        schema:
          type: string
          description: 'Provide a header to specify the language of result values. Supported values: cs (iStock only), de, en-GB, en-US, es, fi (iStock only), fr, hu (iStock only), id (iStock only), it, ja, ko (creative assets only), nl, pl (creative assets only), pt-BR, pt-PT, ro (iStock only), ru (creative assets only), sv, th (iStock only), tr, uk (iStock only), vi (iStock only), zh-HK (creative assets only).'
      - name: id
        in: path
        description: Identifies an existing image
        required: true
        schema:
          type:
          - string
          - 'null'
          description: Identifies an existing image
      - name: fields
        in: query
        description: 'Specifies fields to return. Defaults to ''summary_set''. NOTE: Bytes, height, and width returned by ''download_sizes'' field are estimates.'
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ImagesFieldValues'
          description: 'Specifies fields to return. Defaults to ''summary_set''. NOTE: Bytes, height, and width returned by ''download_sizes'' field are estimates.'
      - name: page
        in: query
        description: Identifies page to return. Default is 1.
        schema:
          type: integer
          description: Identifies page to return. Default is 1.
          format: int32
          default: 1
      - name: page_size
        in: query
        description: Specifies page size. Default is 30, maximum page_size is 100.
        schema:
          type: integer
          description: Specifies page size. Default is 30, maximum page_size is 100.
          format: int32
          default: 30
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageSearchItemSearchResults'
        '400':
          description: InvalidParameterValue
        '401':
          description: AuthorizationTokenRequired
        '403':
          description: UnauthorizedDisplaySize
        '404':
          description: ImageNotFound
        '500':
          description: InvalidIStockCollection
  /v3/search/images/creative:
    get:
      tags:
      - Images
      summary: Search for creative images only
      description: "Use this endpoint to search our contemporary stock photos, illustrations and archival images.\n\nYou'll need an API key and access token to use this resource.\n \nYou can show different information in the response by specifying values on the \"fields\" parameter (see details below).\nYou can search with only an API key, and that will give you search results that are equivalent to doing a search on the GettyImages.com site without being logged in (anonymous search).  If you are a Getty Images API customer and would like to ensure that your API searches return only assets that you have a license to use, you need to also include an authorization token in the header of your request.  Please consult our [Authorization FAQ](http://developers.gettyimages.com/en/authorization-faq.html) for more information on authorization tokens, and our [Authorization Workflows](https://github.com/gettyimages/gettyimages-api/blob/master/OAuth2Workflow.md) for code examples of getting a token.\n\nSearch requests without a phrase parameter are not supported and may not always work.\n\n## Working with Fields Sets\n\nFields sets are used in the **fields** request parameter to receive a suite of metadata fields. The following fields sets are available:\n\n#### Summary Fields Set\n\nThe **summary_set** query string parameter fields value represents a small batch of metadata fields that are often used to \nbuild search response results. The following fields are provided for every image in your result set when you include **summary_set** in your request.\n\n```\n{\n    \"images\": \n    [\n        \"asset_family\",\n        \"caption\",\n        \"collection_code\",\n        \"collection_id\",\n        \"collection_name\",\n        \"display_sizes\": \n        [\n            {\n                \"name\": \"thumb\"\n            }\n        ],\n        \"license_model\",\n        \"max_dimensions\",\n        \"title\"\n    ]\n}\n```\n\n#### Detail Fields Set\n\nThe **detail_set** query string parameter fields value represents a large batch of metadata fields that are often used to \nbuild a detailed view of images. The following fields are provided for every image in your result set when you include **detail_set** in your request.\n\n```\n{\n    \"images\": \n    [\n        \"allowed_use\",\n        \"artist\",\n        \"asset_family\",\n        \"call_for_image\",\n        \"caption\",\n        \"collection_code\",\n        \"collection_id\",\n        \"collection_name\",\n        \"copyright\",\n        \"date_created\",\n        \"display_sizes\": \n        [\n            {\n                \"name\": \"comp\"\n            },\n            {\n                \"name\": \"preview\"\n            },\n            {\n                \"name\": \"thumb\"\n            }\n        ],\n        \"editorial_segments\",\n        \"event_ids\",\n        \"graphical_style\",\n        \"license_model\",\n        \"max_dimensions\",\n        \"orientation\",\n        \"product_types\",\n        \"quality_rank\",\n        \"referral_destinations\",\n        \"title\"\n    ]\n]\n```\n\n#### Display Fields Set\n\nThe **display_set** query string parameter fields value represents the fields that provide you with URLs for the low resolution\nfiles that are most frequently used to build a UI displaying search results. The following fields are provided for every image \nin your result set when you include **display_set** in your request.\n\nThe URI provided is subject to change at any time and must be used as-is with no modification.\n\n```\n{\n    \"images\":\n    [\n        \"display_sizes\": \n        [\n            {\n                \"is_watermarked\": <boolean>,\n                \"name\": \"comp\",\n                \"uri\": \"<link>\"\n            },\n            {\n                \"is_watermarked\": <boolean>,\n                \"name\": \"preview\",\n                \"uri\": \"<link>\"\n            },\n            {\n                \"is_watermarked\": <boolean>,\n                \"name\": \"thumb\",\n                \"uri\": \"<link>\"\n            }\n        ]\n    ]\n}\n```\n\n## Enhanced Search\n\nOur enhanced search uses machine-learning models to understand natural, conversational language. Meaning you can search for longer phrases and get more relevant results from our creative image and creative video libraries.  Default is `true`. Set `enhanced_search` to `false` if you require a precise result set and not one expanded through enhanced search."
      parameters:
      - name: Accept-Language
        in: header
        description: 'Provide a header to specify the language of result values. Supported values: cs (iStock only), de, en-GB, en-US, es, fi (iStock only), fr, hu (iStock only), id (iStock only), it, ja, ko (creative assets only), nl, pl (creative assets only), pt-BR, pt-PT, ro (iStock only), ru (creative assets only), sv, th (iStock only), tr, uk (iStock only), vi (iStock only), zh-HK (creative assets only).'
        schema:
          type: string
          description: 'Provide a header to specify the language of result values. Supported values: cs (iStock only), de, en-GB, en-US, es, fi (iStock only), fr, hu (iStock only), id (iStock only), it, ja, ko (creative assets only), nl, pl (creative assets only), pt-BR, pt-PT, ro (iStock only), ru (creative assets only), sv, th (iStock only), tr, uk (iStock only), vi (iStock only), zh-HK (creative assets only).'
      - name: GI-Country-Code
        in: header
        description: Receive regionally relevant search results based on the value specified. Accepts only ISO Alpha-3 country codes. The Countries operation can be used to retrieve the codes.
        schema:
          type: string
          description: Use of this parameter requires configuration changes to your API key. Please contact your sales representative to learn more.
      - name: age_of_people
        in: query
        description: Filter based on the age of individuals in an image.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AgeOfPeopleFilterType'
          description: Filter based on the age of individuals in an image.
      - name: artists
        in: query
        description: Search for images by specific artists (free-text, comma-separated list of artists).
        schema:
          type:
          - string
          - 'null'
          description: Search for images by specific artists (free-text, comma-separated list of artists).
      - name: collection_codes
        in: query
        description: Filter by collection codes (comma-separated list). Include or exclude based on collections_filter_type.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            type: string
          description: Filter by collection codes (comma-separated list). Include or exclude based on collections_filter_type.
      - name: collections_filter_type
        in: query
        description: Use to include or exclude collections from search. The default is include
        schema:
          $ref: '#/components/schemas/CollectionsFilterType'
      - name: color
        in: query
        description: 'Filter based on predominant color in an image. Use 6 character hexadecimal format (e.g., #002244).'
        schema:
          type:
          - string
          - 'null'
          description: 'Filter based on predominant color in an image. Use 6 character hexadecimal format (e.g., #002244).'
      - name: compositions
        in: query
        description: Filter based on image composition.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CompositionsFilterType'
          description: Filter based on image composition.
      - name: download_product
        in: query
        description: "Filters based on which product the asset will download against.\n                    Allowed values are easyaccess, editorialsubscription, imagepack, premiumaccess and royaltyfreesubscription.\n                    If you have more than one instance of a product, you may also include the ID of the product instance you wish to filter on. \n                    For example, some users may have more than one premiumaccess product, so the download_product value would be premiumaccess:1234. \n                    Product ID can be obtained from the GET /products response."
        schema:
          type:
          - string
          - 'null'
          description: "Filters based on which product the asset will download against.\n                    Allowed values are easyaccess, editorialsubscription, imagepack, premiumaccess and royaltyfreesubscription.\n                    If you have more than one instance of a product, you may also include the ID of the product instance you wish to filter on. \n                    For example, some users may have more than one premiumaccess product, so the download_product value would be premiumaccess:1234. \n                    Product ID can be obtained from the GET /products response."
      - name: embed_content_only
        in: query
        description: Restrict search results to embeddable images. The default is false.
        schema:
          type: boolean
          description: Restrict search results to embeddable images. The default is false.
          default: false
      - name: enhanced_search
        in: query
        description: If set to {false}, your search will not use enhanced search. Defaults to {true}.
        schema:
          type:
          - boolean
          - 'null'
          description: If set to {false}, your search will not use enhanced search. Defaults to {true}.
          default: true
      - name: ethnicity
        in: query
        description: Filter search results based on the ethnicity of individuals in an image.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EthnicityFilterType'
          description: Filter search results based on the ethnicity of individuals in an image.
      - name: exclude_editorial_use_only
        in: query
        description: Exclude images that are only available for editorial (non-commercial) use. Default value is false.
        schema:
          type:
          - boolean
          - 'null'
          description: Exclude images that are only available for editorial (non-commercial) use. Default value is false.
      - name: exclude_keyword_ids
        in: query
        description: Return only images not tagged with specific keyword(s). Specify using a comma-separated list of keyword Ids. If keyword Ids and phrase are both specified, only those images matching the query phrase which also do not contain the requested keyword(s) are returned.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
          description: Return only images not tagged with specific keyword(s). Specify using a comma-separated list of keyword Ids. If keyword Ids and phrase are both specified, only those images matching the query phrase which also do not contain the requested keyword(s) are returned.
      - name: exclude_nudity
        in: query
        description: Excludes images containing nudity. The default is false.
        schema:
          type: boolean
          description: Excludes images containing nudity. The default is false.
          default: false
      - name: facet_fields
        in: query
        description: "Specifies the facets to return in the response. Facets provide additional search parameters to refine your results.\n                   The include_facets parameter must be set to \"true\" for facets to be returned."
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CreateImageSearchFacetsFields'
          description: "Specifies the facets to return in the response. Facets provide additional search parameters to refine your results.\n                   The include_facets parameter must be set to \"true\" for facets to be returned."
      - name: facet_max_count
        in: query
        description: Specifies the maximum number of facets to return per type. Default is 300.
        schema:
          type: integer
          description: Specifies the maximum number of facets to return per type. Default is 300.
          format: int32
          default: 300
      - name: fields
        in: query
        description: 'Specifies fields to return. Defaults to ''summary_set''. NOTE: Bytes, height, and width returned by ''download_sizes'' field are estimates.'
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CreativeImagesFieldValues'
          description: 'Specifies fields to return. Defaults to ''summary_set''. NOTE: Bytes, height, and width returned by ''download_sizes'' field are estimates.'
      - name: file_types
        in: query
        description: Return only images having a specific file type.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SearchFileType'
          description: Return only images having a specific file type.
      - name: graphical_styles
        in: query
        description: Filter based on graphical style of the image.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/GraphicalStyle'
          description: Filter based on graphical style of the image.
      - name: graphical_styles_filter_type
        in: query
        description: Provides searching based on specified graphical style(s). The default is include.
        schema:
          $ref: '#/components/schemas/GraphicalStylesFilterType'
      - name: include_facets
        in: query
        description: Specifies whether or not to include facets in the result set. Default is "false".
        schema:
          type:
          - boolean
          - 'null'
          description: Specifies whether or not to include facets in the result set. Default is "false".
      - name: include_related_searches
        in: query
        description: Specifies whether or not to include related searches in the response. The default is false.
        schema:
          type: boolean
          description: Specifies whether or not to include related searches in the response. The default is false.
          default: false
      - name: keyword_ids
        in: query
        description: Return only images tagged with specific keyword(s). Specify using a comma-separated list of keyword Ids. If keyword Ids and phrase are both specified, only those images matching the query phrase which also contain the requested keyword(s) are returned.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
          description: Return only images tagged with specific keyword(s). Specify using a comma-separated list of keyword Ids. If keyword Ids and phrase are both specified, only those images matching the query phrase which also contain the requested keyword(s) are returned.
      - name: minimum_size
        in: query
        description: Filter based on minimum size requested. The default is x-small.
        schema:
          $ref: '#/components/schemas/TeeShirtSize'
      - name: moods
        in: query
        description: Filter based on predominant mood in an image.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MoodFilterType'
          description: Filter based on predominant mood in an image.
      - name: number_of_people
        in: query
        description: Filter based on the number of people in the image.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/NumberOfPeopleFilterType'
          description: Filter based on the number of people in the image.
      - name: orientations
        in: query
        description: Return only images with selected aspect ratios.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ImageOrientationRequest'
          description: Return only images with selected aspect ratios.
      - name: page
        in: query
        description: Request results starting at a page number (default is 1).
        schema:
          type: integer
          description: Request results starting at a page number (default is 1).
          format: int32
          default: 1
      - name: page_size
        in: query
        description: Request number of images to return in each page. Default is 30, maximum page_size is 100.
        schema:
          type: integer
          description: Request number of images to return in each page. Default is 30, maximum page_size is 100.
          format: int32
          default: 30
      - name: phrase
        in: query
        description: Search images using a search phrase.
        schema:
          type:
          - string
          - 'null'
          description: Search images using a search phrase.
          default: ''
      - name: safe_search
        in: query
        description: Setting safe_search to "true" excludes images containing nudity, death, profanity, drugs and alcohol, suggestive content, and graphic content from the result set. The default is false. Because this is a keyword-based filter, it's possible that a small number of unsafe images may not be caught by the filter. Please direct feedback to your Getty Images Account or API support representative.
        schema:
          type: boolean
          description: Setting safe_search to "true" excludes images containing nudity, death, profanity, drugs and alcohol, suggestive content, and graphic content from the result set. The default is false. Because this is a keyword-based filter, it's possible that a small number of unsafe images may not be caught by the filter. Please direct feedback to your Getty Images Account or API support representative.
          default: false
      - name: sort_order
        in: query
        description: Select sort order of results.  The default is best_match
        schema:
          $ref: '#/components/schemas/CreativeImageSortOrder'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreativeImageSearchResults'
        '400':
          description: InvalidParameterValue
        '401':
          description: AuthorizationTokenRequired
        '403':
          description: UnauthorizedDisplaySize
        '500':
          description: InvalidIStockCollection
  /v3/search/images/creative/by-image:
    get:
      tags:
      - Images
      summary: Search for creative images based on url
      description: 'Search for **similar creative images** by passing an `image_url` to an uploaded image OR an `asset_id` of an asset in our catalog.  All responses will have the `exclude_nudity` filter automatically applied.


        ## Searching by URL


        Before calling the search by image endpoint, an image in JPEG format must be uploaded to `https://api.gettyimages.com/v3/search/by-image/uploads/{CLIENT_IMAGE.jpg}`, where the client defines the `{CLIENT_IMAGE.jpg}` portion of the URL.


        For example, using cURL:


        ``` sh

        curl -i -X PUT https://api.gettyimages.com/v3/search/by-image/uploads/my-test-image.jpg -H ''Content-Type: image/jpeg'' -H ''Api-Key: API_KEY'' --data-binary "@testimage.jpg"

        ```


        Once the image has been uploaded, use the full URL in the `image_url` parameter, e.g. `image_url=https://api.gettyimages.com/v3/search/by-image/uploads/my-test-image.jpg`.


        - Uploaded files must be 10MB or smaller.

        - Uploads to the same URL will overwrite each other, so ensure that the client application is handling naming uniqueness appropriately.

        - Uploads expire after 24 hours.

        - Uploads and searches must be performed using the _same_ API Key.


        ## Searching by asset id


        When searching by `asset_id`, any image or video asset id in the Getty/iStock catalog can be used as the source for similar images.

        '
      parameters:
      - name: Accept-Language
        in: header
        description: 'Provide a header to specify the language of result values. Supported values: cs (iStock only), de, en-GB, en-US, es, fi (iStock only), fr, hu (iStock only), id (iStock only), it, ja, ko (creative assets only), nl, pl (creative assets only), pt-BR, pt-PT, ro (iStock only), ru (creative assets only), sv, th (iStock only), tr, uk (iStock only), vi (iStock only), zh-HK (creative assets only).'
        schema:
          type: string
          description: 'Provide a header to specify the language of result values. Supported values: cs (iStock only), de, en-GB, en-US, es, fi (iStock only), fr, hu (iStock only), id (iStock only), it, ja, ko (creative assets only), nl, pl (creative assets only), pt-BR, pt-PT, ro (iStock only), ru (creative assets only), sv, th (iStock only), tr, uk (iStock only), vi (iStock only), zh-HK (creative assets only).'
      - name: GI-Country-Code
        in: header
        description: Receive regionally relevant search results based on the value specified. Accepts only ISO Alpha-3 country codes. The Countries operation can be used to retrieve the codes.
        schema:
          type: string
          description: Use of this parameter requires configuration changes to your API key. Please contact your sales representative to learn more.
      - name: asset_id
        in: query
        description: Specifies the Getty image id to use in the search.
        schema:
          type:
          - string
          - 'null'
          description: Specifies the Getty image id to use in the search.
      - name: exclude_editorial_use_only
        in: query
        description: Exclude images that are only available for editorial (non-commercial) use. Default value is false.
        schema:
          type:
          - boolean
          - 'null'
          description: Exclude images that are only available for editorial (non-commercial) use. Default value is false.
      - name: facet_fields
        in: query
        description: "Specifies the facets to return in the response. Facets provide additional search parameters to refine your results.\n                    The include_facets parameter must be set to \"true\" for facets to be returned."
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CreateImageSearchFacetsFields'
          description: "Specifies the facets to return in the response. Facets provide additional search parameters to refine your results.\n                    The include_facets parameter must be set to \"true\" for facets to be returned."
      - name: facet_max_count
        in: query
        description: Specifies the maximum number of facets to return per type. Default is 300.
        schema:
          type: integer
          description: Specifies the maximum number of facets to return per type. Default is 300.
          format: int32
          default: 300
      - name: fields
        in: query
        description: 'Specifies fields to return. Defaults to ''summary_set''. NOTE: Bytes, height, and width returned by ''download_sizes'' field are estimates.'
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CreativeImagesFieldValues'
          description: 'Specifies fields to return. Defaults to ''summary_set''. NOTE: Bytes, height, and width returned by ''download_sizes'' field are estimates.'
      - name: image_url
        in: query
        description: Specifies the location of the image to use in the search.
        schema:
          type:
          - string
          - 'null'
          description: Specifies the location of the image to use in the search.
      - name: include_facets
        in: query
        description: Specifies whether or not to include facets in the result set. Default is "false".
        schema:
          type:
          - boolean
          - 'null'
          description: Specifies whether or not to include facets in the result set. Default is "false".
      - name: page
        in: query
        description: Request results starting at a page number (default is 1).
        schema:
          type: integer
          description: Request results starting at a page number (default is 1).
          format: int32
          default: 1
      - name: page_size
        in: query
        description: Request number of images to return in each page. Default is 30, maximum page_size is 100.
        schema:
          type: integer
          description: Request number of images to return in each page. Default is 30, maximum page_size is 100.
          format: int32
          default: 30
      - name: phrase
        in: query
        description: Free-text search query.
        schema:
          type:
          - string
          - 'null'
          description: Free-text search query.
          default: ''
      - name: product_types
        in: query
        description: "Filter images to those from one of your product types. \n                    Allowed values are easyaccess, imagepack, premiumaccess and royaltyfreesubscription. \n                    If you have more than one instance of a product, you may also include the ID of the product instance you wish to filter on. \n                    For example, some users may have more than one premiumaccess product, so the product_types value would be premiumaccess:1234. \n                    Product ID can be obtained from the GET /products response."
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            type: string
          description: "Filter images to those from one of your product types. \n                    Allowed values are easyaccess, imagepack, premiumaccess and royaltyfreesubscription. \n                    If you have more than one instance of a product, you may also include the ID of the product instance you wish to filter on. \n                    For example, some users may have more than one premiumaccess product, so the product_types value would be premiumaccess:1234. \n                    Product ID can be obtained from the GET /products response."
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchByImageResourceResults'
        '400':
          description: InvalidParameterValue
        '401':
          description: AuthorizationTokenRequired
        '403':
          description: UnauthorizedDisplaySize
        '404':
          description: AssetNotFound
        '500':
          description: InvalidIStockCollection
  /v3/search/images/editorial:
    get:
      tags:
      - Images
      summary: Search for editorial images only
      description: "Use this endpoint to search our editorial stock photos, illustrations and archival images.  Editorial images represent newsworthy events or illustrate matters of general interest, such as news, sport and entertainment and are generally intended for editorial use.\n\nYou'll need an API key and access token to use this resource.\n\nYou can show different information in the response by specifying values on the \"fields\" parameter (see details below).\nYou can search with only an API key, and that will give you search results that are equivalent to doing a search on the GettyImages.com site without being logged in (anonymous search).  If you are a Getty Images API customer and would like to ensure that your API searches return only assets that you have a license to use, you need to also include an authorization token in the header of your request.  Please consult our [Authorization FAQ](http://developers.gettyimages.com/en/authorization-faq.html) for more information on authorization tokens, and our [Authorization Workflows](https://github.com/gettyimages/gettyimages-api/blob/master/OAuth2Workflow.md) for code examples of getting a token.\nTo include your API token in the search request, add it to the headers as a Bearer token (example in curl):\n\n\t-H \"Authorization: Bearer <your-token>\"\n\nSearch requests without a phrase parameter are not supported and may not always work.\n\n## Working with Fields Sets\n\nFields sets are used in the **fields** request parameter to receive a suite of metadata fields. The following fields sets are available:\n\n#### Summary Fields Set\n\nThe **summary_set** query string parameter fields value represents a small batch of metadata fields that are often used to build search response results. The following fields are provided for every image in your result set when you include **summary_set** in your request.\n\n```\n{\n    \"images\": \n    [\n        \"asset_family\",\n        \"caption\",\n        \"collection_code\",\n        \"collection_id\",\n        \"collection_name\",\n        \"display_sizes\": \n        [\n            {\n                \"name\": \"thumb\"\n            }\n        ],\n        \"license_model\",\n        \"max_dimensions\",\n        \"title\"\n    ]\n}\n```\n\n#### Detail Fields Set\n\nThe **detail_set** query string parameter fields value represents a large batch of metadata fields that are often used to build a detailed view of images. The following fields are provided for every image in your result set when you include **detail_set** in your request.\n\n```\n{\n    \"images\": \n    [\n        \"allowed_use\",\n        \"artist\",\n        \"asset_family\",\n        \"call_for_image\",\n        \"caption\",\n        \"collection_code\",\n        \"collection_id\",\n        \"collection_name\",\n        \"copyright\",\n        \"date_created\",\n        \"display_sizes\": \n        [\n            {\n                \"name\": \"comp\"\n            },\n            {\n                \"name\": \"preview\"\n            },\n            {\n                \"name\": \"thumb\"\n            }\n        ],\n        \"editorial_segments\",\n        \"event_ids\",\n        \"graphical_style\",\n        \"license_model\",\n        \"max_dimensions\",\n        \"orientation\",\n        \"product_types\",\n        \"quality_rank\",\n        \"referral_destinations\",\n        \"title\"\n    ]\n]\n```\n\n#### Display Fields Set\n\nThe **display_set** query string parameter fields value represents the fields that provide you with URLs for the low resolution files that are most frequently used to build a UI displaying search results. The following fields are provided for every image in your result set when you include **display_set** in your request.\n\nThe URI provided is subject to change at any time and must be used as-is with no modification.\n\n```\n{\n    \"images\":\n    [\n        \"display_sizes\": \n        [\n            {\n                \"is_watermarked\": <boolean>,\n                \"name\": \"comp\",\n                \"uri\": \"<link>\"\n            },\n            {\n                \"is_watermarked\": <boolean>,\n                \"name\": \"preview\",\n                \"uri\": \"<link>\"\n            },\n            {\n                \"is_watermarked\": <boolean>,\n                \"name\": \"thumb\",\n                \"uri\": \"<link>\"\n            }\n        ]\n    ]\n}\n```"
      parameters:
      - name: Accept-Language
        in: header
        description: 'Provide a header to specify the language of result values. Supported values: cs (iStock only), de, en-GB, en-US, es, fi (iStock only), fr, hu (iStock only), id (iStock only), it, ja, ko (creative assets only), nl, pl (creative assets only), pt-BR, pt-PT, ro (iStock only), ru (creative assets only), sv, th (iStock only), tr, uk (iStock only), vi (iStock only), zh-HK (creative assets only).'
        schema:
          type: string
          description: 'Provide a header to specify the language of result values. Supported values: cs (iStock only), de, en-GB, en-US, es, fi (iStock only), fr, hu (iStock only), id (iStock only), it, ja, ko (creative assets only), nl, pl (creative assets only), pt-BR, pt-PT, ro (iStock only), ru (creative assets only), sv, th (iStock only), tr, uk (iStock only), vi (iStock only), zh-HK (creative assets only).'
      - name: GI-Country-Code
        in: header
        description: Receive regionally relevant search results based on the value specified. Accepts only ISO Alpha-3 country codes. The Countries operation can be used to retrieve the codes.
        schema:
          type: string
          description: Use of this parameter requires configuration changes to your API key. Please contact your sales representative to learn more.
      - name: age_of_people
        in: query
        description: Filter based on the age of individuals in an image.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AgeOfPeopleFilterType'
          description: Filter based on the age of individuals in an image.
      - name: artists
        in: query
        description: Search for images by specific artists (free-text, comma-separated list of artists).
        schema:
          type:
          - string
          - 'null'
          description: Search for images by specific artists (free-text, comma-separated list of artists).
      - name: collection_codes
        in: query
        description: Filter by collections (comma-separated list of collection codes). Include or exclude based on collections_filter_type.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            type: string
          description: Filter by collections (comma-separated list of collection codes). Include or exclude based on collections_filter_type.
      - name: collections_filter_type
        in: query
        description: Use to include or exclude collections from search. The default is include
        schema:
          $ref: '#/components/schemas/CollectionsFilterType'
      - name: compositions
        in: query
        description: Filter based on image composition.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CompositionsFilterType'
          description: Filter based on image composition.
      - name: date_from
        in: query
        description: Return only images that are created on or after this date. Use ISO 8601 format (e.g., 1999-12-31).
        schema:
          type:
          - string
          - 'null'
          description: Return only images that are created on or after this date. Use ISO 8601 format (e.g., 1999-12-31).
          format: date-time
      - name: date_to
        in: query
        description: Return only images that are created on or before this date. Use ISO 8601 format (e.g., 1999-12-31).
        schema:
          type:
          - string
          - 'null'
          description: Return only images that are created on or before this date. Use ISO 8601 format (e.g., 1999-12-31).
          format: date-time
      - name: download_product
        in: query
        description: "Filters based on which product the asset will download against.\n                    Allowed values are easyaccess, editorialsubscription, imagepack, premiumaccess and royaltyfreesubscription.\n                    If you have more than one instance of a product, you may also include the ID of the product instance you wish to filter on. \n                    For example, some users may have more than one premiumaccess product, so the download_product value would be premiumaccess:1234. \n                    Product ID can be obtained from the GET /products response."
        schema:
          type:
          - string
          - 'null'
          description: "Filters based on which product the asset will download against.\n                    Allowed values are easyaccess, editorialsubscription, imagepack, premiumaccess and royaltyfreesubscription.\n                    If you have more than one instance of a product, you may also include the ID of the product instance you wish to filter on. \n                    For example, some users may have more than one premiumaccess product, so the download_product value would be premiumaccess:1234. \n                    Product ID can be obtained from the GET /products response."
      - name: editorial_segments
        in: query
        description: Return only events with a matching editorial segment.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EditorialSegmentContract'
          description: Return only events with a matching editorial segment.
      - name: embed_content_only
        in: query
        description: Restrict search results to embeddable images. The default is false.
        schema:
          type: boolean
          description: Restrict search results to embeddable images. The default is false.
          default: false
      - name: ethnicity
        in: query
        description: Filter search results based on the ethnicity of individuals in an image.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EthnicityFilterType'
          description: Filter search results based on the ethnicity of individuals in an image.
      - name: event_ids
        in: query
        description: Filter based on specific events
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
          description: Filter based on specific events
      - name: exclude_keyword_ids
        in: query
        description: Return only images not tagged with specific keyword(s). Specify using a comma-separated list of keyword Ids. If keyword Ids and phrase are both specified, only those images matching the query phrase which also do not contain the requested keyword(s) are returned.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
          description: Return only images not tagged with specific keyword(s). Specify using a comma-separated list of keyword Ids. If keyword Ids and phrase are both specified, only those images matching the query phrase which also do not contain the requested keyword(s) are returned.
      - name: fields
        in: query
        description: 'Specifies fields to return. Defaults to ''summary_set''. NOTE: Bytes, height, and width returned by ''download_sizes'' field are estimates.'
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EditorialImagesFieldValues'
          description: 'Specifies fields to return. Defaults to ''summary_set''. NOTE: Bytes, height, and width returned by ''download_sizes'' field are estimates.'
      - name: file_types
        in: query
        description: Return only images having a specific file type.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SearchFileType'
          description: Return only images having a specific file type.
      - name: graphical_styles
        in: query
        description: Filter based on graphical style of the image.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EditorialGraphicalStyle'
          description: Filter based on graphical style of the image.
      - name: graphical_styles_filter_type
        in: query
        description: Provides searching based on specified graphical style(s). The default is include.
        schema:
          $ref: '#/components/schemas/GraphicalStylesFilterType'
      - name: include_related_searches
        in: query
        description: Specifies whether or not to include related searches in the response. The default is false.
        schema:
          type: boolean
          description: Specifies whether or not to include related searches in the response. The default is false.
          default: false
      - name: keyword_ids
        in: query
        description: Return only images tagged with specific keyword(s). Specify using a comma-separated list of keyword Ids. If keyword Ids and phrase are both specified, only those images matching the query phrase which also contain the requested keyword(s) are returned.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
          description: Return only images tagged with specific keyword(s). Specify using a comma-separated list of keyword Ids. If keyword Ids and phrase are both specified, only those images matching the query phrase which also contain the requested keyword(s) are returned.
      - name: minimum_size
        in: query
        description: Filter based on minimum size requested. The default is x-small.
        schema:
          $ref: '#/components/schemas/TeeShirtSize'
      - name: number_of_people
        in: query
        description: Filter based on the number of people in the image.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/NumberOfPeopleFilterType'
          description: Filter based on the number of people in the image.
      - name: orientations
        in: query
        description: Return only images with selected aspect ratios.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ImageOrientationRequest'
          description: Return only images with selected aspect ratios.
      - name: page
        in: query
        description: Request results starting at a page number (default is 1).
        schema:
          type: integer
          description: Request results starting at a page number (default is 1).
          format: int32
          default: 1
      - name: page_size
        in: query
        description: Request number of images to return in each page. Default is 30, maximum page_size is 100.
        schema:
          type: integer
          description: Request number of images to return in each page. Default is 30, maximum page_size is 100.
          format: int32
          default: 30
      - name: phrase
        in: query
        description: Search images using a search phrase.
        schema:
          type:
          - string
          - 'null'
          description: Search images using a search phrase.
      - name: sort_order
        in: query
        description: Select sort order of results.  The default is best_match
        schema:
          $ref: '#/components/schemas/SortOrder'
      - name: specific_people
        in: query
        description: Return only images associated with specific people (using a comma-delimited list).
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            type: string
          description: Return only images associated with specific people (using a comma-delimited list).
      - name: minimum_quality_rank
        in: query
        description: Filter search results based on minimum quality ranking. Possible values 1, 2, 3 with 1 being best.
        schema:
          type:
          - integer
          - 'null'
          description: Filter search results based on minimum quality ranking. Possible values 1, 2, 3 with 1 being best.
          format: int32
      - name: facet_fields
        in: query
        description: "Specifies the facets to return in the response. Facets provide additional search parameters to refine your results.\n                   The include_facets parameter must be set to \"true\" for facets to be returned."
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EditorialImageSearchFacetsFields'
          description: "Specifies the facets to return in the response. Facets provide additional search parameters to refine your results.\n                   The include_facets parameter must be set to \"true\" for facets to be returned."
      - name: include_facets
        in: query
        description: Specifies whether or not to include facets in the result set. Default is "false".
        schema:
          type:
          - boolean
          - 'null'
          description: Specifies whether or not to include facets in the result set. Default is "false".
      - name: facet_max_count
        in: query
        description: Specifies the maximum number of facets to return per type. Default is 300.
        schema:
          type: integer
          description: Specifies the maximum number of facets to return per type. Default is 300.
          format: int32
          default: 300
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditorialImageSearchResults'
        '400':
          description: InvalidParameterValue
        '401':
          description: AuthorizationTokenRequired
        '403':
          description: UnauthorizedDisplaySize
  /v3/search/images:
    get:
[...]
