openapi: 3.2.0
info:
  title: Getty Images Editorial API
  version: '3'
  description: '

    Developer resources for the Getty Images API including SDK, documentation,

    release notes, status, notifications and sample code.'
servers:
- url: https://api.gettyimages.com
  description: Base URL declared by the provider in apis.yml (roadmap#122).
security:
- Api-Key: []
- OAuth2: []
tags:
- name: Editorial
paths:
  /v3/search/images/editorial:
    get:
      tags:
      - Editorial
      summary: Search for editorial images only
      description: "Use this endpoint to search our editorial stock photos, illustrations and archival images.  Editorial images represent newsworthy events or illustrate matters of general interest, such as news, sport and entertainment and are generally intended for editorial use.\n\nYou'll need an API key and access token to use this resource.\n\nYou can show different information in the response by specifying values on the \"fields\" parameter (see details below).\nYou can search with only an API key, and that will give you search results that are equivalent to doing a search on the GettyImages.com site without being logged in (anonymous search).  If you are a Getty Images API customer and would like to ensure that your API searches return only assets that you have a license to use, you need to also include an authorization token in the header of your request.  Please consult our [Authorization FAQ](http://developers.gettyimages.com/en/authorization-faq.html) for more information on authorization tokens, and our [Authorization Workflows](https://github.com/gettyimages/gettyimages-api/blob/master/OAuth2Workflow.md) for code examples of getting a token.\nTo include your API token in the search request, add it to the headers as a Bearer token (example in curl):\n\n\t-H \"Authorization: Bearer <your-token>\"\n\nSearch requests without a phrase parameter are not supported and may not always work.\n\n## Working with Fields Sets\n\nFields sets are used in the **fields** request parameter to receive a suite of metadata fields. The following fields sets are available:\n\n#### Summary Fields Set\n\nThe **summary_set** query string parameter fields value represents a small batch of metadata fields that are often used to build search response results. The following fields are provided for every image in your result set when you include **summary_set** in your request.\n\n```\n{\n    \"images\": \n    [\n        \"asset_family\",\n        \"caption\",\n        \"collection_code\",\n        \"collection_id\",\n        \"collection_name\",\n        \"display_sizes\": \n        [\n            {\n                \"name\": \"thumb\"\n            }\n        ],\n        \"license_model\",\n        \"max_dimensions\",\n        \"title\"\n    ]\n}\n```\n\n#### Detail Fields Set\n\nThe **detail_set** query string parameter fields value represents a large batch of metadata fields that are often used to build a detailed view of images. The following fields are provided for every image in your result set when you include **detail_set** in your request.\n\n```\n{\n    \"images\": \n    [\n        \"allowed_use\",\n        \"artist\",\n        \"asset_family\",\n        \"call_for_image\",\n        \"caption\",\n        \"collection_code\",\n        \"collection_id\",\n        \"collection_name\",\n        \"copyright\",\n        \"date_created\",\n        \"display_sizes\": \n        [\n            {\n                \"name\": \"comp\"\n            },\n            {\n                \"name\": \"preview\"\n            },\n            {\n                \"name\": \"thumb\"\n            }\n        ],\n        \"editorial_segments\",\n        \"event_ids\",\n        \"graphical_style\",\n        \"license_model\",\n        \"max_dimensions\",\n        \"orientation\",\n        \"product_types\",\n        \"quality_rank\",\n        \"referral_destinations\",\n        \"title\"\n    ]\n]\n```\n\n#### Display Fields Set\n\nThe **display_set** query string parameter fields value represents the fields that provide you with URLs for the low resolution files that are most frequently used to build a UI displaying search results. The following fields are provided for every image in your result set when you include **display_set** in your request.\n\nThe URI provided is subject to change at any time and must be used as-is with no modification.\n\n```\n{\n    \"images\":\n    [\n        \"display_sizes\": \n        [\n            {\n                \"is_watermarked\": <boolean>,\n                \"name\": \"comp\",\n                \"uri\": \"<link>\"\n            },\n            {\n                \"is_watermarked\": <boolean>,\n                \"name\": \"preview\",\n                \"uri\": \"<link>\"\n            },\n            {\n                \"is_watermarked\": <boolean>,\n                \"name\": \"thumb\",\n                \"uri\": \"<link>\"\n            }\n        ]\n    ]\n}\n```"
      parameters:
      - name: Accept-Language
        in: header
        description: 'Provide a header to specify the language of result values. Supported values: cs (iStock only), de, en-GB, en-US, es, fi (iStock only), fr, hu (iStock only), id (iStock only), it, ja, ko (creative assets only), nl, pl (creative assets only), pt-BR, pt-PT, ro (iStock only), ru (creative assets only), sv, th (iStock only), tr, uk (iStock only), vi (iStock only), zh-HK (creative assets only).'
        schema:
          type: string
          description: 'Provide a header to specify the language of result values. Supported values: cs (iStock only), de, en-GB, en-US, es, fi (iStock only), fr, hu (iStock only), id (iStock only), it, ja, ko (creative assets only), nl, pl (creative assets only), pt-BR, pt-PT, ro (iStock only), ru (creative assets only), sv, th (iStock only), tr, uk (iStock only), vi (iStock only), zh-HK (creative assets only).'
      - name: GI-Country-Code
        in: header
        description: Receive regionally relevant search results based on the value specified. Accepts only ISO Alpha-3 country codes. The Countries operation can be used to retrieve the codes.
        schema:
          type: string
          description: Use of this parameter requires configuration changes to your API key. Please contact your sales representative to learn more.
      - name: age_of_people
        in: query
        description: Filter based on the age of individuals in an image.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AgeOfPeopleFilterType'
          description: Filter based on the age of individuals in an image.
      - name: artists
        in: query
        description: Search for images by specific artists (free-text, comma-separated list of artists).
        schema:
          type:
          - string
          - 'null'
          description: Search for images by specific artists (free-text, comma-separated list of artists).
      - name: collection_codes
        in: query
        description: Filter by collections (comma-separated list of collection codes). Include or exclude based on collections_filter_type.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            type: string
          description: Filter by collections (comma-separated list of collection codes). Include or exclude based on collections_filter_type.
      - name: collections_filter_type
        in: query
        description: Use to include or exclude collections from search. The default is include
        schema:
          $ref: '#/components/schemas/CollectionsFilterType'
      - name: compositions
        in: query
        description: Filter based on image composition.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CompositionsFilterType'
          description: Filter based on image composition.
      - name: date_from
        in: query
        description: Return only images that are created on or after this date. Use ISO 8601 format (e.g., 1999-12-31).
        schema:
          type:
          - string
          - 'null'
          description: Return only images that are created on or after this date. Use ISO 8601 format (e.g., 1999-12-31).
          format: date-time
      - name: date_to
        in: query
        description: Return only images that are created on or before this date. Use ISO 8601 format (e.g., 1999-12-31).
        schema:
          type:
          - string
          - 'null'
          description: Return only images that are created on or before this date. Use ISO 8601 format (e.g., 1999-12-31).
          format: date-time
      - name: download_product
        in: query
        description: "Filters based on which product the asset will download against.\n                    Allowed values are easyaccess, editorialsubscription, imagepack, premiumaccess and royaltyfreesubscription.\n                    If you have more than one instance of a product, you may also include the ID of the product instance you wish to filter on. \n                    For example, some users may have more than one premiumaccess product, so the download_product value would be premiumaccess:1234. \n                    Product ID can be obtained from the GET /products response."
        schema:
          type:
          - string
          - 'null'
          description: "Filters based on which product the asset will download against.\n                    Allowed values are easyaccess, editorialsubscription, imagepack, premiumaccess and royaltyfreesubscription.\n                    If you have more than one instance of a product, you may also include the ID of the product instance you wish to filter on. \n                    For example, some users may have more than one premiumaccess product, so the download_product value would be premiumaccess:1234. \n                    Product ID can be obtained from the GET /products response."
      - name: editorial_segments
        in: query
        description: Return only events with a matching editorial segment.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EditorialSegmentContract'
          description: Return only events with a matching editorial segment.
      - name: embed_content_only
        in: query
        description: Restrict search results to embeddable images. The default is false.
        schema:
          type: boolean
          description: Restrict search results to embeddable images. The default is false.
          default: false
      - name: ethnicity
        in: query
        description: Filter search results based on the ethnicity of individuals in an image.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EthnicityFilterType'
          description: Filter search results based on the ethnicity of individuals in an image.
      - name: event_ids
        in: query
        description: Filter based on specific events
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
          description: Filter based on specific events
      - name: exclude_keyword_ids
        in: query
        description: Return only images not tagged with specific keyword(s). Specify using a comma-separated list of keyword Ids. If keyword Ids and phrase are both specified, only those images matching the query phrase which also do not contain the requested keyword(s) are returned.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
          description: Return only images not tagged with specific keyword(s). Specify using a comma-separated list of keyword Ids. If keyword Ids and phrase are both specified, only those images matching the query phrase which also do not contain the requested keyword(s) are returned.
      - name: fields
        in: query
        description: 'Specifies fields to return. Defaults to ''summary_set''. NOTE: Bytes, height, and width returned by ''download_sizes'' field are estimates.'
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EditorialImagesFieldValues'
          description: 'Specifies fields to return. Defaults to ''summary_set''. NOTE: Bytes, height, and width returned by ''download_sizes'' field are estimates.'
      - name: file_types
        in: query
        description: Return only images having a specific file type.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SearchFileType'
          description: Return only images having a specific file type.
      - name: graphical_styles
        in: query
        description: Filter based on graphical style of the image.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EditorialGraphicalStyle'
          description: Filter based on graphical style of the image.
      - name: graphical_styles_filter_type
        in: query
        description: Provides searching based on specified graphical style(s). The default is include.
        schema:
          $ref: '#/components/schemas/GraphicalStylesFilterType'
      - name: include_related_searches
        in: query
        description: Specifies whether or not to include related searches in the response. The default is false.
        schema:
          type: boolean
          description: Specifies whether or not to include related searches in the response. The default is false.
          default: false
      - name: keyword_ids
        in: query
        description: Return only images tagged with specific keyword(s). Specify using a comma-separated list of keyword Ids. If keyword Ids and phrase are both specified, only those images matching the query phrase which also contain the requested keyword(s) are returned.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
          description: Return only images tagged with specific keyword(s). Specify using a comma-separated list of keyword Ids. If keyword Ids and phrase are both specified, only those images matching the query phrase which also contain the requested keyword(s) are returned.
      - name: minimum_size
        in: query
        description: Filter based on minimum size requested. The default is x-small.
        schema:
          $ref: '#/components/schemas/TeeShirtSize'
      - name: number_of_people
        in: query
        description: Filter based on the number of people in the image.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/NumberOfPeopleFilterType'
          description: Filter based on the number of people in the image.
      - name: orientations
        in: query
        description: Return only images with selected aspect ratios.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ImageOrientationRequest'
          description: Return only images with selected aspect ratios.
      - name: page
        in: query
        description: Request results starting at a page number (default is 1).
        schema:
          type: integer
          description: Request results starting at a page number (default is 1).
          format: int32
          default: 1
      - name: page_size
        in: query
        description: Request number of images to return in each page. Default is 30, maximum page_size is 100.
        schema:
          type: integer
          description: Request number of images to return in each page. Default is 30, maximum page_size is 100.
          format: int32
          default: 30
      - name: phrase
        in: query
        description: Search images using a search phrase.
        schema:
          type:
          - string
          - 'null'
          description: Search images using a search phrase.
      - name: sort_order
        in: query
        description: Select sort order of results.  The default is best_match
        schema:
          $ref: '#/components/schemas/SortOrder'
      - name: specific_people
        in: query
        description: Return only images associated with specific people (using a comma-delimited list).
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            type: string
          description: Return only images associated with specific people (using a comma-delimited list).
      - name: minimum_quality_rank
        in: query
        description: Filter search results based on minimum quality ranking. Possible values 1, 2, 3 with 1 being best.
        schema:
          type:
          - integer
          - 'null'
          description: Filter search results based on minimum quality ranking. Possible values 1, 2, 3 with 1 being best.
          format: int32
      - name: facet_fields
        in: query
        description: "Specifies the facets to return in the response. Facets provide additional search parameters to refine your results.\n                   The include_facets parameter must be set to \"true\" for facets to be returned."
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EditorialImageSearchFacetsFields'
          description: "Specifies the facets to return in the response. Facets provide additional search parameters to refine your results.\n                   The include_facets parameter must be set to \"true\" for facets to be returned."
      - name: include_facets
        in: query
        description: Specifies whether or not to include facets in the result set. Default is "false".
        schema:
          type:
          - boolean
          - 'null'
          description: Specifies whether or not to include facets in the result set. Default is "false".
      - name: facet_max_count
        in: query
        description: Specifies the maximum number of facets to return per type. Default is 300.
        schema:
          type: integer
          description: Specifies the maximum number of facets to return per type. Default is 300.
          format: int32
          default: 300
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditorialImageSearchResults'
        '400':
          description: InvalidParameterValue
        '401':
          description: AuthorizationTokenRequired
        '403':
          description: UnauthorizedDisplaySize
  /v3/search/videos/editorial:
    get:
      tags:
      - Editorial
      summary: Search for editorial videos
      description: "Use this endpoint to search current and archival video clips of celebrities, newsmakers, and events.\n\nYou'll need an API key and access token to use this resource.\n\nYou can show different information in the response by specifying values on the \"fields\" parameter (see details below).\nYou can search with only an API key, and that will give you search results that are equivalent to doing a search on the GettyImages.com site without being logged in (anonymous search).  If you are a Getty Images API customer and would like to ensure that your API searches return only assets that you have a license to use, you need to also include an authorization token in the header of your request.  Please consult our [Authorization FAQ](http://developers.gettyimages.com/en/authorization-faq.html) for more information on authorization tokens, and our [Authorization Workflows](https://github.com/gettyimages/gettyimages-api/blob/master/OAuth2Workflow.md) for code examples of getting a token.\n\nSearch requests without a phrase parameter are not supported and may not always work.\n\n## Working with Fields Sets\n\nFields sets are used in the **fields** request parameter to receive a suite of metadata fields. The following fields sets are available:\n\n#### Summary Fields Set\n\nThe **summary_set** query string parameter fields value represents a small batch of metadata fields that are often used to build search response results. The following fields are provided for every video in your result set when you include **summary_set** in your request.\n\n```\n{\n    \"videos\": \n    [\n        \"asset_family\", \n        \"caption\",\n        \"collection_code\",\n        \"collection_name\",\n        \"display_sizes\":\n        [\n            {\n                \"name\": \"comp\"\n            },\n            {\n                \"name\": \"preview\"\n            },\n            {\n                \"name\": \"thumb\"\n            }\n        ],\n        \"license_model\",\n        \"title\"\n    ]\n}\n```\n\n#### Detail Fields Set\n\nThe **detail_set** query string parameter fields value represents a large batch of metadata fields that are often used to build a detailed view of videos. The following fields are provided for every video in your result set when you include **detail_set** in your request.\n\n```\n{\n    \"videos\": \n    [\n        \"allowed_use\",\n        \"artist\",\n        \"asset_family\", \n\t\t\"call_for_image\",\n        \"caption\", \n        \"clip_length\",\n        \"collection_code\",\n        \"collection_id\",\n        \"collection_name\", \n        \"color_type\",\n        \"copyright\",\n        \"date_created\",\n        \"display_sizes\":\n        [\n            {\n                \"name\": \"comp\"\n            },\n            {\n                \"name\": \"preview\"\n            },\n            {\n                \"name\": \"thumb\"\n            }\n        ],\n        \"era\",\n        \"event_ids\",\n        \"license_model\",\n        \"mastered_to\",\n        \"originally_shot_on\",\n        \"product_types\",\n        \"quality_rank\",\n        \"shot_speed\",\n        \"source\",\n        \"title\"\n    ]\n}\n```\n\n#### Display Fields Set\n\nThe **display_set** query string parameter fields value represents the fields that provide you with URLs for the low resolution files that are most frequently used to build a UI displaying search results. The following fields are provided for every video in your result set when you include **display_set** in your request.\n\nThe URI provided is subject to change at any time and must be used as-is with no modification.\n\n```\n{\n    \"videos\":\n    [\n        \"display_sizes\": \n        [\n            {\n                \"is_watermarked\": <boolean>,\n                \"name\": \"comp\",\n                \"uri\": \"<link>\"\n            },\n            {\n                \"is_watermarked\": <boolean>,\n                \"name\": \"preview\",\n                \"uri\": \"<link>\"\n            },\n            {\n                \"is_watermarked\": <boolean>,\n                \"name\": \"thumb\",\n                \"uri\": \"<link>\"\n            }\n        ]\n    ]\n}\n```"
      parameters:
      - name: Accept-Language
        in: header
        description: 'Provide a header to specify the language of result values. Supported values: cs (iStock only), de, en-GB, en-US, es, fi (iStock only), fr, hu (iStock only), id (iStock only), it, ja, ko (creative assets only), nl, pl (creative assets only), pt-BR, pt-PT, ro (iStock only), ru (creative assets only), sv, th (iStock only), tr, uk (iStock only), vi (iStock only), zh-HK (creative assets only).'
        schema:
          type: string
          description: 'Provide a header to specify the language of result values. Supported values: cs (iStock only), de, en-GB, en-US, es, fi (iStock only), fr, hu (iStock only), id (iStock only), it, ja, ko (creative assets only), nl, pl (creative assets only), pt-BR, pt-PT, ro (iStock only), ru (creative assets only), sv, th (iStock only), tr, uk (iStock only), vi (iStock only), zh-HK (creative assets only).'
      - name: GI-Country-Code
        in: header
        description: Receive regionally relevant search results based on the value specified. Accepts only ISO Alpha-3 country codes. The Countries operation can be used to retrieve the codes.
        schema:
          type: string
          description: Use of this parameter requires configuration changes to your API key. Please contact your sales representative to learn more.
      - name: age_of_people
        in: query
        description: Provides filtering according to the age of individuals in a video.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AgeOfPeopleFilterType'
          description: Provides filtering according to the age of individuals in a video.
      - name: artists
        in: query
        description: Search for videos by specific artists (free-text, comma-separated list of artists).
        schema:
          type:
          - string
          - 'null'
          description: Search for videos by specific artists (free-text, comma-separated list of artists).
      - name: aspect_ratios
        in: query
        description: Search for videos by specific aspect ratios.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/VideoAspectRatioFilterType'
          description: Search for videos by specific aspect ratios.
      - name: collection_codes
        in: query
        description: Provides filtering by collection code.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            type: string
          description: Provides filtering by collection code.
      - name: collections_filter_type
        in: query
        description: Use to include or exclude collections from search. The default is include
        schema:
          $ref: '#/components/schemas/CollectionsFilterType'
      - name: compositions
        in: query
        description: Filter based on video composition.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CompositionsFilterType'
          description: Filter based on video composition.
      - name: date_from
        in: query
        description: Return only images that are created on or after this date. Use ISO 8601 format (e.g., 1999-12-31).
        schema:
          type:
          - string
          - 'null'
          description: Return only images that are created on or after this date. Use ISO 8601 format (e.g., 1999-12-31).
          format: date-time
      - name: date_to
        in: query
        description: Return only images that are created on or before this date. Use ISO 8601 format (e.g., 1999-12-31).
        schema:
          type:
          - string
          - 'null'
          description: Return only images that are created on or before this date. Use ISO 8601 format (e.g., 1999-12-31).
          format: date-time
      - name: download_product
        in: query
        description: "Filters based on which product the asset will download against.\n                    Allowed values are easyaccess, editorialsubscription, imagepack, premiumaccess and royaltyfreesubscription.\n                    If you have more than one instance of a product, you may also include the ID of the product instance you wish to filter on. \n                    For example, some users may have more than one premiumaccess product, so the download_product value would be premiumaccess:1234. \n                    Product ID can be obtained from the GET /products response."
        schema:
          type:
          - string
          - 'null'
          description: "Filters based on which product the asset will download against.\n                    Allowed values are easyaccess, editorialsubscription, imagepack, premiumaccess and royaltyfreesubscription.\n                    If you have more than one instance of a product, you may also include the ID of the product instance you wish to filter on. \n                    For example, some users may have more than one premiumaccess product, so the download_product value would be premiumaccess:1234. \n                    Product ID can be obtained from the GET /products response."
      - name: editorial_video_types
        in: query
        description: Allows filtering by types of video.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EditorialVideoType'
          description: Allows filtering by types of video.
      - name: event_ids
        in: query
        description: Filter based on specific events
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
          description: Filter based on specific events
      - name: fields
        in: query
        description: 'Specifies fields to return. Defaults to ''summary_set''. NOTE: Bytes returned by ''download_sizes'' field is an estimate.'
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EditorialVideosFieldValues'
          description: 'Specifies fields to return. Defaults to ''summary_set''. NOTE: Bytes returned by ''download_sizes'' field is an estimate.'
      - name: format_available
        in: query
        description: Filters according to the digital video format available on a film asset.
        schema:
          $ref: '#/components/schemas/VideoFormatsRequest'
      - name: frame_rates
        in: query
        description: Provides filtering by video frame rate (frames/second).
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/VideoFrameRates'
          description: Provides filtering by video frame rate (frames/second).
      - name: image_techniques
        in: query
        description: Filter based on image technique.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ImageTechniquesFilterType'
          description: Filter based on image technique.
      - name: include_related_searches
        in: query
        description: Specifies whether or not to include related searches in the response. The default is false.
        schema:
          type: boolean
          description: Specifies whether or not to include related searches in the response. The default is false.
          default: false
      - name: keyword_ids
        in: query
        description: Return only videos tagged with specific keyword(s). Specify using a comma-separated list of keyword Ids. If keyword Ids and phrase are both specified, only those videos matching the query phrase which also contain the requested keyword(s) are returned.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
          description: Return only videos tagged with specific keyword(s). Specify using a comma-separated list of keyword Ids. If keyword Ids and phrase are both specified, only those videos matching the query phrase which also contain the requested keyword(s) are returned.
      - name: min_clip_length
        in: query
        description: Provides filtering by minimum length of video clip, in seconds
        schema:
          type: integer
          description: Provides filtering by minimum length of video clip, in seconds
          format: int32
          default: 0
      - name: max_clip_length
        in: query
        description: Provides filtering by maximum length of video clip, in seconds
        schema:
          type: integer
          description: Provides filtering by maximum length of video clip, in seconds
          format: int32
          default: 0
      - name: orientations
        in: query
        description: Return only videos with selected orientations.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/VideoOrientationRequest'
          description: Return only videos with selected orientations.
      - name: page
        in: query
        description: Identifies page to return. Default is 1.
        schema:
          type: integer
          description: Identifies page to return. Default is 1.
          format: int32
          default: 1
      - name: page_size
        in: query
        description: Specifies page size. Default is 30, maximum page_size is 100.
        schema:
          type: integer
          description: Specifies page size. Default is 30, maximum page_size is 100.
          format: int32
          default: 30
      - name: phrase
        in: query
        description: Free-text search query.
        schema:
          type:
          - string
          - 'null'
          description: Free-text search query.
          default: ''
      - name: sort_order
        in: query
        description: Select sort order of results.  The default is best_match
        schema:
          $ref: '#/components/schemas/SortOrder'
      - name: specific_people
        in: query
        description: Allows filtering by specific peoples' names.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            type: string
          description: Allows filtering by specific peoples' names.
      - name: release_status
        in: query
        description: Allows filtering by type of model release.
        schema:
          $ref: '#/components/schemas/ReleaseStatus'
      - name: facet_fields
        in: query
        description: "Specifies the facets to return in the response. Facets provide additional search parameters to refine your results.\n                   The include_facets parameter must be set to \"true\" for facets to be returned."
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EditorialVideoSearchFacetsFields'
          description: "Specifies the facets to return in the response. Facets provide additional search parameters to refine your results.\n                   The include_facets parameter must be set to \"true\" for facets to be returned."
      - name: include_facets
        in: query
        description: Specifies whether or not to include facets in the result set. Default is "false".
        schema:
          type:
          - boolean
          - 'null'
          description: Specifies whether or not to include facets in the result set. Default is "false".
      - name: facet_max_count
        in: query
        description: Specifies the maximum number of facets to return per type. Default is 300.
        schema:
          type: integer
          description: Specifies the maximum number of facets to return per type. Default is 300.
          format: int32
          default: 300
      - name: viewpoints
        in: query
        description: Filter based on viewpoint.
        style: form
        explode: false
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ViewpointsFilterType'
          description: Filter based on viewpoint.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditorialVideoSearchResults'
        '400':
          description: InvalidParameterValue
        '401':
          description: AuthorizationTokenRequired
        '403':
          description: UnauthorizedDisplaySize
components:
  schemas:
    AllowedUse:
      type: object
      properties:
        how_can_i_use_it:
          type:
          - string
          - 'null'
          description: Indicates how the asset can be used
        release_info:
          type:
          - string
          - 'null'
          description: Indicates release status
        usage_restrictions:
          type:
          - array
          - 'null'
          items:
            type: string
          description: Indicates asset usage restriction, if any
      additionalProperties: false
    EditorialVideoType:
      enum:
      - raw
      - produced
      type: string
    EditorialVideosFieldValues:
      enum:
      - allowed_use
      - artist
      - aspect_ratio
      - asset_family
      - call_for_image
      - caption
      - clip_length
      - collection_code
      - collection_id
      - collection_name
      - color_type
      - comp
      - copyright
      - date_created
      - date_submitted
      - detail_set
      - display_set
      - download_product
      - download_sizes
      - editorial_segments
      - era
      - event_ids
      - id
      - istock_collection
      - keywords
      - largest_downloads
      - license_model
      - mastered_to
      - object_name
      - orientation
      - originally_shot_on
      - preview
      - product_types
      - quality_rank
      - referral_destinations
      - shot_speed
      - source
      - summary_set
      - thumb
      - title
      - istock_licenses
      type: string
    Location:
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type:
          - string
          - 'null'
      additionalProperties: false
    SearchFacetsResponse:
      type: object
      properties:
        specific_people:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SpecificPeople'
        events:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FacetEvent'
        locations:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Location'
        artists:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Artist'
        entertainment:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Entertainment'
      additionalProperties: false
    ReleaseStatus:
      enum:
      - release_not_important
      - fully_released
      type: string
    CompositionsFilterType:
      enum:
      - abstract
      - candid
      - close_up
      - copy_space
      - cut_out
      - full_frame
      - full_length
      - headshot
      - looking_at_camera
      - macro
      - medium_shot
      - part_of_a_series
      - portrait
      - sparse
      - still_life
      - three_quarter_length
      - waist_up
      - wide_shot
      type: string
    EditorialVideoSearchFacetsFields:
      enum:
      - artists
      - events
      - locations
      - specific_people
      type: string
    AssetLicenseName:
      enum:
      - Standard
      - Multiseat
      - Unlimited
      - Resale
      - Indemnification
      type: string
    VideoFrameRates:
      enum:
      - '23.98'
      - '24'
      - '25'
      - '29.97'
      - '30'
      - '50'
      - '59.94'
      - '60'
      type: string
    SpecificPeople:
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type:
          - string
          - 'null'
      additionalProperties: false
    RelatedSearch:
      type: object
      properties:
        phrase:
          type:
          - string
          - 'null'
        url:
          type:
          - string
          - 'null'
      additionalProperties: false
    VideoSearchItemDisplaySize:
      type: object
      properties:
        is_watermarked:
          type: boolean
        name:
          type:
          - string
          - 'null'
        uri:
          type:
          - string
          - 'null'
        aspect_ratio:
          type:
          - string
          - 'null'
      additionalProperties: false
    ImageTechniquesFilterType:
      enum:
      - realtime
      - time_lapse
      - slow_motion
      - color
      - black_and_white
      - animation
      - selective_focus
      type: string
    TeeShirtSize:
      enum:
      - x_small
      - small
      - medium
      - large
      - x_large
      - xx_large
      - vector
      type: string
    ImageOrientationRequest:
      enum:
      - horizontal
      - vertical
      - square
      - panoramic_horizontal
      - panoramic_vertical
      type: string
    Download:
      type: object
      properties:
        product_id:
          type:
          - string
          - 'null'
        product_type:
          type:
          - string
          - 'null'
        uri:
          type:
          - string
          - 'null'
        agreement_name:
          type:
          - string
          - 'null'
      additionalProperties: false
    ViewpointsFilterType:
      enum:
      - lockdown
      - panning
      - tracking_shot
      - aerial_view
      - high_angle_view
      - low_angle_view
      - tilt
      - point_of_view
      type: string
    EditorialImageSearchResults:
      type: object
      properties:
        result_count:
          type: integer
          format: int32
        images:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ImageSearchItemEditorial'
        related_searches:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RelatedSearch'
      additionalProperties: false
    MaxDimensions:
      type: object
      properties:
        height:
          type: integer
          format: int32
        width:
          type: integer
          format: int32
      additionalProperties: false
    NumberOfPeopleFilterType:
      enum:
      - none
      - one
      - two
      - group
      type: string
    VideoAspectRatioFilterType:
      enum:
      - '16:9'
      - '9:16'
      - '3:4'
      - '4:3'
      - '4:5'
      - '2:1'
      - '17:9'
      - '9:17'
      type: string
    EditorialImagesFieldValues:
      enum:
      - allowed_use
      - alternative_ids
      - artist
      - asset_family
      - call_for_image
      - caption
      - collection_code
      - collection_id
      - collection_name
      - color_type
      - comp
      - comp_webp
      - copyright
      - date_camera_shot
      - date_created
      - date_submitted
      - detail_set
      - display_set
      - download_product
      - download_sizes
      - editorial_segments
      - editorial_source
      - event_ids
      - graphical_style
      - id
      - keywords
      - largest_downloads
      - license_model
      - max_dimensions
      - orientation
      - people
      - preview
      - product_types
      - quality_rank
      - referral_destinations
      - summary_set
      - thumb
      - title
      - uri_oembed
      type: string
    ImageSearchItemEditorial:
      type: object
      properties:
        allowed_use:
          $ref: '#/components/schemas/AllowedUse'
        alternative_ids:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
        artist:
          type:
          - string
          - 'null'
        asset_family:
          type:
          - string
          - 'null'
        call_for_image:
          type: boolean
        caption:
          type:
          - string
          - 'null'
        collection_code:
          type:
          - string
          - 'null'
        collection_id:
          type:
          - integer
          - 'null'
          format: int32
        collection_name:
          type:
          - string
          - 'null'
        color_type:
          type:
          - string
          - 'null'
        copyright:
          type:
          - string
          - 'null'
        date_camera_shot:
          type:
          - string
          - 'null'
          format: date-time
        date_created:
          type:
          - string
          - 'null'
          format: date-time
        display_sizes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ImageSearchItemDisplaySize'
        download_product:
          type:
          - string
          - 'null'
        editorial_segments:
          type:
          - array
          - 'null'
          items:
            type: string
        editorial_source:
          $ref: '#/components/schemas/EditorialSource'
        event_ids:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
        graphical_style:
          type:
          - string
          - 'null'
        id:
          type:
          - string
          - 'null'
        keywords:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Keyword'
        largest_downloads:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Download'
        license_model:
          type:
          - string
          - 'null'
        max_dimensions:
          $ref: '#/components/schemas/MaxDimensions'
        orientation:
          type:
          - string
          - 'null'
        people:
          type:
          - array
          - 'null'
          items:
            type: string
        product_types:
          type:
          - array
          - 'null'
          items:
            type: string
        quality_rank:
          type: integer
          format: int32
        referral_destinations:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ReferralDestination'
        title:
          type:
          - string
          - 'null'
        uri_oembed:
          type:
          - string
          - 'null'
      additionalProperties: false
    VideoOrientationRequest:
      enum:
      - horizontal
      - vertical
      type: string
    AgeOfPeopleFilterType:
      enum:
      - newborn
      - baby
      - child
      - teenager
      - young_adult
      - adult
      - adults_only
      - mature_adult
      - senior_adult
      - 0-1_months
      - 2-5_months
      - 6-11_months
      - 12-17_months
      - 18-23_months
      - 2-3_years
      - 4-5_years
      - 6-7_years
      - 8-9_years
      - 10-11_years
      - 12-13_years
      - 14-15_years
      - 16-17_years
      - 18-19_years
      - 20-24_years
      - 20-29_years
      - 25-29_years
      - 30-34_years
      - 30-39_years
      - 35-39_years
      - 40-44_years
      - 40-49_years
      - 45-49_years
      - 50-54_years
      - 50-59_years
      - 55-59_years
      - 60-64_years
      - 60-69_years
      - 65-69_years
      - 70-79_years
      - 80-89_years
      - 90_plus_years
      - 100_over
      type: string
    EditorialSegmentContract:
      enum:
      - archival
      - entertainment
      - news
      - publicity
      - royalty
      - sport
      type: string
    Keyword:
      type: object
      properties:
        keyword_id:
          type:
          - string
          - 'null'
        text:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        relevance:
          type:
          - integer
          - 'null'
          format: int32
        entity_uris:
          type:
          - array
          - 'null'
          items:
            type: string
        entity_types:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    Entertainment:
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type:
          - string
          - 'null'
      additionalProperties: false
    VideoFormatsRequest:
      enum:
      - sd
      - hd
      - 4k
      - hd_web
      type: string
    Artist:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
      additionalProperties: false
    SortOrder:
      enum:
      - best_match
      - most_popular
      - newest
      - oldest
      - random
      type: string
    SearchFileType:
      enum:
      - eps
      type: string
    IStockLicense:
      type: object
      properties:
        license_type:
          $ref: '#/components/schemas/AssetLicenseName'
        credits:
          type: integer
          format: int32
      additionalProperties: false
    EditorialSource:
      type: object
      properties:
        id:
          type: integer
          format: int32
      additionalProperties: false
    EthnicityFilterType:
      enum:
      - black
      - white
      - east_asian
      - hispanic_latinx
      - japanese
      - middle_eastern
      - multiracial_person
      - multiethnic_group
      - native_american_first_nations
      - pacific_islander
      - south_asian
      - southeast_asian
      type: string
    CollectionsFilterType:
      enum:
      - include
      - exclude
      type: string
    EditorialVideoSearchResults:
      type: object
      properties:
        result_count:
          type: integer
          format: int32
        videos:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EditorialVideoSearchItem'
        facets:
          $ref: '#/components/schemas/SearchFacetsResponse'
        related_searches:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RelatedSearch'
      additionalProperties: false
    EditorialImageSearchFacetsFields:
      enum:
      - artists
      - events
      - locations
      - specific_people
      type: string
    ReferralDestination:
      type: object
      properties:
        site_name:
          type:
          - string
          - 'null'
        uri:
          type:
          - string
          - 'null'
      additionalProperties: false
    GraphicalStylesFilterType:
      enum:
      - include
      - exclude
      type: string
    EditorialVideoSearchItem:
      type: object
      properties:
        source:
          type:
          - string
          - 'null'
        id:
          type:
          - string
          - 'null'
        allowed_use:
          $ref: '#/components/schemas/AllowedUse'
        artist:
          type:
          - string
          - 'null'
        asset_family:
          type:
          - string
          - 'null'
        caption:
          type:
          - string
          - 'null'
        clip_length:
          type:
          - string
          - 'null'
        collection_id:
          type:
          - integer
          - 'null'
          format: int32
        collection_code:
          type:
          - string
          - 'null'
        collection_name:
          type:
          - string
          - 'null'
        color_type:
          type:
          - string
          - 'null'
        copyright:
          type:
          - string
          - 'null'
        date_created:
          type:
          - string
          - 'null'
          format: date-time
        display_sizes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/VideoSearchItemDisplaySize'
        download_product:
          type:
          - string
          - 'null'
        era:
          type:
          - string
          - 'null'
        event_ids:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
        keywords:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Keyword'
        largest_downloads:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Download'
        license_model:
          type:
          - string
          - 'null'
        mastered_to:
          type:
          - string
          - 'null'
        originally_shot_on:
          type:
          - string
          - 'null'
        product_types:
          type:
          - array
          - 'null'
          items:
            type: string
        referral_destinations:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ReferralDestination'
        shot_speed:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        istock_licenses:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/IStockLicense'
      additionalProperties: false
    ImageSearchItemDisplaySize:
      type: object
      properties:
        is_watermarked:
          type: boolean
        name:
          type:
          - string
          - 'null'
        uri:
          type:
          - string
          - 'null'
      additionalProperties: false
    FacetEvent:
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type:
          - string
          - 'null'
        date:
          type: string
          format: date-time
      additionalProperties: false
    EditorialGraphicalStyle:
      enum:
      - photography
      - illustration
      - vector
      type: string
  securitySchemes:
    Api-Key:
      type: apiKey
      name: Api-Key
      in: header
    OAuth2:
      type: oauth2
      flows:
        password:
          tokenUrl: https://api.gettyimages.com/v4/oauth2/token
          refreshUrl: https://api.gettyimages.com/v4/oauth2/token
          scopes: {}
        clientCredentials:
          tokenUrl: https://api.gettyimages.com/v4/oauth2/token
          scopes: {}
        authorizationCode:
          authorizationUrl: https://api.gettyimages.com/v4/oauth2/auth
          tokenUrl: https://api.gettyimages.com/v4/oauth2/token
          refreshUrl: https://api.gettyimages.com/v4/oauth2/token
          scopes: {}
